src/flows/AccountryCountryCodeUpdates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Display_Billing</name>
        <label>Assign Display Billing</label>
        <locationX>1102</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>$Record.Display_Billing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDisplayBilling</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Whichfield</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Display_Shipping</name>
        <label>Assign Display Shipping</label>
        <locationX>570</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>$Record.Display_Shipping_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDisplayShipping</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Whichfield</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipping_Code</name>
        <label>Assign Shipping Code</label>
        <locationX>1053</locationX>
        <locationY>151</locationY>
        <assignmentItems>
            <assignToReference>$Record.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varShippingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Whichfield</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipping_Code_0</name>
        <label>Assign Shipping Code</label>
        <locationX>632</locationX>
        <locationY>139</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBillingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Whichfield</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Whichfield</name>
        <label>Whichfield?</label>
        <locationX>811</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>UpdateRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ShippingCodeMissing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Display_Shipping_Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Display_Shipping_Country__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Display_Shipping_Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varShippingCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getShippingCode</targetReference>
            </connector>
            <label>ShippingCodeMissing</label>
        </rules>
        <rules>
            <name>BillingCodeMissing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Display_Billing_Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Display_Billing_Country__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Display_Billing_Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varBillingCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getShippingCode_0</targetReference>
            </connector>
            <label>BillingCodeMissing</label>
        </rules>
        <rules>
            <name>DisplayShippingMissing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lenShippingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ShippingCountry</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDisplayShipping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetShippingCountryName</targetReference>
            </connector>
            <label>DisplayShippingMissing</label>
        </rules>
        <rules>
            <name>DisplayBillingMissing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lenBillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.BillingCountry</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDisplayBilling</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetBillingCountryName</targetReference>
            </connector>
            <label>DisplayBillingMissing</label>
        </rules>
    </decisions>
    <description>Updates the display billing/shipping countries based on billing/shipping country ISO code and vice versa. References ISO Country Code metadata</description>
    <formulas>
        <description>Checks to see the length of the country is 2 digits</description>
        <name>lenBillingCountry</name>
        <dataType>Number</dataType>
        <expression>LEN({!$Record.BillingCountry})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Checks the length of the shipping country text field</description>
        <name>lenShippingCountry</name>
        <dataType>Number</dataType>
        <expression>Len({!$Record.ShippingCountry})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>AccountryCountryCodeUpdates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountryCountryCodeUpdates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetBillingCountryName</name>
        <label>GetBillingCountryName</label>
        <locationX>932</locationX>
        <locationY>554</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Display_Billing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>X2_Character_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </filters>
        <object>ISO_Country_List__mdt</object>
        <outputAssignments>
            <assignToReference>varDisplayBilling</assignToReference>
            <field>Country_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getShippingCode</name>
        <label>GetShippingCode</label>
        <locationX>939</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Shipping_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Display_Shipping_Country__c</elementReference>
            </value>
        </filters>
        <object>ISO_Country_List__mdt</object>
        <outputAssignments>
            <assignToReference>varShippingCountryCode</assignToReference>
            <field>X2_Character_Country_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getShippingCode_0</name>
        <label>GetShippingCode</label>
        <locationX>773</locationX>
        <locationY>132</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Shipping_Code_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Display_Billing_Country__c</elementReference>
            </value>
        </filters>
        <object>ISO_Country_List__mdt</object>
        <outputAssignments>
            <assignToReference>varBillingCountryCode</assignToReference>
            <field>X2_Character_Country_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetShippingCountryName</name>
        <label>GetShippingCountryName</label>
        <locationX>723</locationX>
        <locationY>554</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Display_Shipping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>X2_Character_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ShippingCountry</elementReference>
            </value>
        </filters>
        <object>ISO_Country_List__mdt</object>
        <outputAssignments>
            <assignToReference>varDisplayShipping</assignToReference>
            <field>Country_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecord</name>
        <label>UpdateRecord</label>
        <locationX>1191</locationX>
        <locationY>370</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>114</locationX>
        <locationY>291</locationY>
        <connector>
            <targetReference>Whichfield</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Display_Billing_Country__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Display_Shipping_Country__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountry</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingCountry</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varBillingCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDisplayBilling</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDisplayShipping</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShippingCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
