src/flows/add_or_delete_user_from_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>addTeamMembers</name>
        <label>addTeamMembers</label>
        <locationX>718</locationX>
        <locationY>154</locationY>
        <actionName>OpportunityTeamMemberHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GAM_present</targetReference>
        </connector>
        <inputParameters>
            <name>opps</name>
            <value>
                <elementReference>OpportunityRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>check_user_already_exists</name>
        <label>check user already exists or not</label>
        <locationX>408</locationX>
        <locationY>121</locationY>
        <defaultConnector>
            <targetReference>Delete_Existing_Users_in_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Opportunity Team</defaultConnectorLabel>
        <rules>
            <name>OpportunityTeamisempty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_opporunityTeams</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_created_user_to_Opportunity_Team</targetReference>
            </connector>
            <label>Opportunity Team is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>GAM_present</name>
        <label>GAM present?</label>
        <locationX>949</locationX>
        <locationY>35</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Add_GAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityRecord.Global_Account_Manager_GAM__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_GAm_to_oppty</targetReference>
            </connector>
            <label>Add GAM</label>
        </rules>
    </decisions>
    <interviewLabel>add or delete user from Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>add or delete user from Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>add_created_user_to_Opportunity_Team</name>
        <label>add created user to Opportunity Team</label>
        <locationX>592</locationX>
        <locationY>30</locationY>
        <assignRecordIdToReference>OpportunitTeammemberId</assignRecordIdToReference>
        <connector>
            <targetReference>add_RSM_to_Team</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>All</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Team Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>OpportunityRecord.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>add_GAm_to_oppty</name>
        <label>add GAm to oppty</label>
        <locationX>947</locationX>
        <locationY>171</locationY>
        <assignRecordIdToReference>OpptyGAMTeammemberId</assignRecordIdToReference>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Team Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>OpportunityRecord.Global_Account_Manager_GAM__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
    </recordCreates>
    <recordCreates>
        <name>add_RSM_to_Team</name>
        <label>add RSM to Team</label>
        <locationX>751</locationX>
        <locationY>26</locationY>
        <assignRecordIdToReference>OpportuntiyRSMTeamMemberId</assignRecordIdToReference>
        <connector>
            <targetReference>addTeamMembers</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamMemberRole</field>
            <value>
                <stringValue>Team Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>OpportunityRecord.RSM__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityTeamMember</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Users_in_Team</name>
        <label>Delete Existing Users in Team</label>
        <locationX>417</locationX>
        <locationY>295</locationY>
        <connector>
            <targetReference>add_created_user_to_Opportunity_Team</targetReference>
        </connector>
        <inputReference>var_opporunityTeams</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>get_Opportunity_Teams</name>
        <label>get Opportunity Team member for previous rsm</label>
        <locationX>180</locationX>
        <locationY>121</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_user_already_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityTeamMember</object>
        <outputReference>var_opporunityTeams</outputReference>
        <queriedFields>UserId</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>OpportunityAccessLevel</queriedFields>
    </recordLookups>
    <startElementReference>get_Opportunity_Teams</startElementReference>
    <status>Active</status>
    <variables>
        <name>OpportunitTeammemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>OpportunityRecord Current Record</description>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityTeamMemeberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportuntiyRSMTeamMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpptyGAMTeammemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Opportunity id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Opportunity Team List</description>
        <name>var_opporunityTeams</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <description>user to be inserted</description>
        <name>var_userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGAMinOptyTeams</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
</Flow>
