src/flows/Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Case_Record</name>
        <label>Set Case Record</label>
        <locationX>759</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>caseRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_CaseShare_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Account_and_it_s_Global_Ultimate_parent_are_not_null</name>
        <label>Check if Account and it&apos;s Global Ultimate parent are not null</label>
        <locationX>531</locationX>
        <locationY>670</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_and_it_s_Global_Ultimate_parent_are_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Global_Ultimate_Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Record</targetReference>
            </connector>
            <label>Account and it&apos;s Global Ultimate parent are not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Account_Or_Owner_is_changed</name>
        <label>Check if Account Or Owner is changed</label>
        <locationX>717</locationX>
        <locationY>367</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Previous_Account</targetReference>
            </connector>
            <label>Account is changed</label>
        </rules>
        <rules>
            <name>Owner_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Account_and_it_s_Global_Ultimate_parent_are_not_null</targetReference>
            </connector>
            <label>Owner is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_queried_CaseShare_list_is_empty</name>
        <label>Check if queried CaseShare list is empty</label>
        <locationX>1338</locationX>
        <locationY>378</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CaseShare_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_CaseShare_records</targetReference>
            </connector>
            <label>List not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Previous_Account</name>
        <label>Check Previous Account</label>
        <locationX>891</locationX>
        <locationY>144</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Account_was_blank_Or_Previous_Account_s_Global_Parent_was_null</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account.Global_Ultimate_Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Account_and_it_s_Global_Ultimate_parent_are_not_null</targetReference>
            </connector>
            <label>Previous Account was blank Or Previous Account&apos;s Global Parent was null</label>
        </rules>
        <rules>
            <name>Previous_Account_s_Global_Parent_was_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account.Global_Ultimate_Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CaseShare_Record</targetReference>
            </connector>
            <label>Previous Account&apos;s Global Parent was not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_whether_record_is_created_or_updated</name>
        <label>Check whether record is created or updated</label>
        <locationX>444</locationX>
        <locationY>370</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_is_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isRecordCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Account_and_it_s_Global_Ultimate_parent_are_not_null</targetReference>
            </connector>
            <label>Record is created</label>
        </rules>
        <rules>
            <name>Record_is_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isRecordCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Account_Or_Owner_is_changed</targetReference>
            </connector>
            <label>Record is updated</label>
        </rules>
    </decisions>
    <formulas>
        <name>isRecordCreated</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Record Triggered Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_CaseShare_record</name>
        <label>Create CaseShare record</label>
        <locationX>1064</locationX>
        <locationY>879</locationY>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>caseRecord.Account.Global_Ultimate_Parent__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Remove_CaseShare_records</name>
        <label>Remove CaseShare records</label>
        <locationX>1345</locationX>
        <locationY>585</locationY>
        <connector>
            <targetReference>Check_if_Account_and_it_s_Global_Ultimate_parent_are_not_null</targetReference>
        </connector>
        <inputReference>Get_CaseShare_Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_CaseShare_Record</name>
        <label>Get CaseShare Record</label>
        <locationX>1182</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_queried_CaseShare_list_is_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Account.Global_Ultimate_Parent__r.Owner.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseAccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>24</locationX>
        <locationY>304</locationY>
        <connector>
            <targetReference>Check_whether_record_is_created_or_updated</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
