src/flows/check_duplicate_Products_same_marketing_PN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>add_Product_to_Collection</name>
        <label>add Product to Collection</label>
        <locationX>1495</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>updateProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_product_with_same_marketing_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_duplicate_Product_to_true</name>
        <label>update duplicate Product to true</label>
        <locationX>1134</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>Product.Duplicate_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_Product_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_duplicate_products_exists_with_same_Marketing_PN</name>
        <label>check if duplicate products exists with same Marketing PN</label>
        <locationX>1056</locationX>
        <locationY>74</locationY>
        <defaultConnector>
            <targetReference>for_each_product_with_same_marketing_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>products with same  Marketing PN</defaultConnectorLabel>
        <rules>
            <name>products_with_different_Marketing_PN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>duplicateProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>products with different Marketing PN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ProductDataMigrationFlag</name>
        <label>Check ProductDataMigrationFlag</label>
        <locationX>390</locationX>
        <locationY>62</locationY>
        <defaultConnectorLabel>do not check for duplicates</defaultConnectorLabel>
        <rules>
            <name>check_duplicate_products_with_Same_Marketing_PN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductDataMigrationFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Current_Product</targetReference>
            </connector>
            <label>check duplicate products with Same Marketing PN</label>
        </rules>
    </decisions>
    <formulas>
        <description>ProductDataMigrationFlag</description>
        <name>ProductDataMigrationFlag</name>
        <dataType>String</dataType>
        <expression>{!$Label.ProductDataMigrationFlag}</expression>
    </formulas>
    <interviewLabel>check duplicate Products same marketing PN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>check duplicate Products same marketing PN</label>
    <loops>
        <name>for_each_product_with_same_marketing_product</name>
        <label>for each product with same marketing product</label>
        <locationX>1293</locationX>
        <locationY>57</locationY>
        <assignNextValueToReference>Product</assignNextValueToReference>
        <collectionReference>duplicateProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_duplicate_Product_to_true</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Current_Product</name>
        <label>get Current Product</label>
        <locationX>617</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Products_with_same_Marketing_PN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productid</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>CommoddityCode_Text</assignToReference>
            <field>Commodity_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MarketingPN</assignToReference>
            <field>Marketing_P_N__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProductCode</assignToReference>
            <field>ProductCode</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Products_with_same_Marketing_PN</name>
        <label>get Products with same Marketing PN</label>
        <locationX>824</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_duplicate_products_exists_with_same_Marketing_PN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Commodity_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>7000</stringValue>
            </value>
        </filters>
        <filters>
            <field>Duplicate_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>productid</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Marketing_P_N__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MarketingPN</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>duplicateProducts</outputReference>
        <queriedFields>Marketing_P_N__c</queriedFields>
        <queriedFields>Commodity_Code__c</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Duplicate_Product__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_products</name>
        <label>update products</label>
        <locationX>1555</locationX>
        <locationY>61</locationY>
        <inputReference>updateProducts</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_ProductDataMigrationFlag</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CommoddityCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CommoddityCode_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>duplicate products with commodity code 7000</description>
        <name>duplicateProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>MarketingPN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Product with Same Marketing PN</description>
        <name>Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ProductCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>updateProducts</description>
        <name>updateProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
