src/flows/clone_for_Quote_and_Quote_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>navigate_to_new_Quote_Record</name>
        <label>navigate to new Quote Record</label>
        <locationX>1565</locationX>
        <locationY>134</locationY>
        <actionName>c:FlowNavigationtoRecordCMP</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>newRecord</name>
            <value>
                <elementReference>newQuoteId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssigenBu</name>
        <label>AssigenBu</label>
        <locationX>961</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>PreviouslineBU</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>checkWSS.Business_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkWSS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_Quote_Item_to_new_Quote_Item_list</name>
        <label>assign new Quote Item to new Quote Item list</label>
        <locationX>1312</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>newQuoteitemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newQuoteitem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_quote_Item_in_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_quote_Item_to_new_quote_Item</name>
        <label>assign quote Item to new quote Item</label>
        <locationX>1093</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>newQuoteitem.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newQuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteitem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteItem.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteitem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteItem.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newQuoteitem.Target_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteItem.Target_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_new_Quote_Item_to_new_Quote_Item_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>are_there_any_quote_Items_on_Quote_to_be_cloned</name>
        <label>are there any quote Items on Quote to be cloned</label>
        <locationX>721</locationX>
        <locationY>128</locationY>
        <defaultConnector>
            <targetReference>checkWSS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Clone Quote Items</defaultConnectorLabel>
        <rules>
            <name>Do_not_Clone_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>quoteItemlist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Do not Clone Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLineBu</name>
        <label>CheckLineBu</label>
        <locationX>773</locationX>
        <locationY>477</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SameBu</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>checkWSS.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PreviouslineBU</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigenBu</targetReference>
            </connector>
            <label>SameBu</label>
        </rules>
        <rules>
            <name>differentBu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkWSS.Business_Unit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PreviouslineBU</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowBUError</targetReference>
            </connector>
            <label>differentBu</label>
        </rules>
    </decisions>
    <decisions>
        <name>fristrec</name>
        <label>fristrec</label>
        <locationX>845</locationX>
        <locationY>299</locationY>
        <defaultConnector>
            <targetReference>CheckLineBu</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Isfristrec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviouslineBU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigenBu</targetReference>
            </connector>
            <label>Isfristrec</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PrimarySalesPersonField</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PrimarySalesPerson.UserRoleId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>clone Quote and Quote Items  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>clone for Quote and Quote Items</label>
    <loops>
        <name>checkWSS</name>
        <label>checkWSS</label>
        <locationX>932</locationX>
        <locationY>130</locationY>
        <collectionReference>quoteItemlist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>fristrec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createQuote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>for_each_quote_Item_in_list</name>
        <label>for each quote Item in list</label>
        <locationX>1174</locationX>
        <locationY>270</locationY>
        <assignNextValueToReference>quoteItem</assignNextValueToReference>
        <collectionReference>quoteItemlist</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_quote_Item_to_new_quote_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createQuoteitems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createQuote</name>
        <label>createQuote</label>
        <locationX>1141</locationX>
        <locationY>154</locationY>
        <assignRecordIdToReference>newQuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>for_each_quote_Item_in_list</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CorrectionScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>TopLevelAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>quoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>partyOpportunity</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordCreates>
        <name>createQuoteitems</name>
        <label>createQuoteitems</label>
        <locationX>1346</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>navigate_to_new_Quote_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CorrectionScreen</targetReference>
        </faultConnector>
        <inputReference>newQuoteitemList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getQuote</name>
        <label>getQuote</label>
        <locationX>390</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQuoteitems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputAssignments>
            <assignToReference>TopLevelAccount</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>customerAccount</assignToReference>
            <field>Customer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>quoteName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>partyOpportunity</assignToReference>
            <field>OpportunityId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>primarySalesman</assignToReference>
            <field>PrimarySalesperson__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getQuoteitems</name>
        <label>getQuoteitems</label>
        <locationX>534</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>are_there_any_quote_Items_on_Quote_to_be_cloned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Quote_Item__c</object>
        <outputReference>quoteItemlist</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>RSM_Approver__c</queriedFields>
        <queriedFields>Quote__c</queriedFields>
        <queriedFields>PLM_Approver__c</queriedFields>
        <queriedFields>Target_Price__c</queriedFields>
        <queriedFields>Business_Unit__c</queriedFields>
    </recordLookups>
    <screens>
        <name>CorrectionScreen</name>
        <label>Correction Screen</label>
        <locationX>1266</locationX>
        <locationY>2</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>finish</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; Error! {!$Flow.FaultMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;/{!recordId}&quot; TARGET=&quot;_blank&quot;&gt; Click here &lt;/A&gt;  Or Finish to correct errors on pervious Quote&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click on Next after Correcting Errors on Quote &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>640</locationX>
        <locationY>404</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>QuoteItems</name>
            <fieldText>There are no Quote Items to Clone</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowBUError</name>
        <label>ShowBUError</label>
        <locationX>834</locationX>
        <locationY>571</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 32, 96); font-family: &amp;quot;Calibri&amp;quot;, sans-serif; font-size: 11pt;&quot;&gt;Existing Quote has WSS &amp;amp; Non-WSS Items, so you cannot clone the quote.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getQuote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>customerAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newQuoteitem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Item__c</objectType>
    </variables>
    <variables>
        <name>newQuoteitemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Item__c</objectType>
    </variables>
    <variables>
        <name>partyAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partyOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreviouslineBU</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>primarySalesman</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Primary Sales Person</description>
        <name>PrimarySalesPerson</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>quoteItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Item__c</objectType>
    </variables>
    <variables>
        <name>quoteItemlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Item__c</objectType>
    </variables>
    <variables>
        <name>quoteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TopLevelAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
