src/flows/Clone_Extension_Requests.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>navigate_to_new_Extension_Request</name>
        <label>navigate to new Extension Request</label>
        <locationX>1199</locationX>
        <locationY>530</locationY>
        <actionName>c:FlowNavigationtoRecordCMP</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>newRecord</name>
            <value>
                <elementReference>newExtensionRequestId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>add_Extension_Item_to_List</name>
        <label>add Extension Item to List</label>
        <locationX>1655</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>newExtensionItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newExtensionItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>for_each_extension_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_old_extension_Item_to_new_extension_Item</name>
        <label>assign old extension Item to new extension Item</label>
        <locationX>1785</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>newExtensionItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>extensionItemRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newExtensionItem.Loaner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newExtensionRequestId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newExtensionItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoanerItem.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newExtensionItem.Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoanerItem.Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newExtensionItem.S_O__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoanerItem.S_O__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newExtensionItem.Number_of_extensions_approved_before_thi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoanerItem.Number_of_Extensions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newExtensionItem.Extension_Return_Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoanerItem.Effective_Return_Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newExtensionItem.Loaner_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoanerItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newExtensionItem.Extension_Loaner_Qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoanerItem.Balance_to_be_returned__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newExtensionItem.Extend_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExtendToDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_Extension_Item_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_any_pending_extensions_available</name>
        <label>check any pending extensions available</label>
        <locationX>582</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>get_Extension_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Clone Extension</defaultConnectorLabel>
        <rules>
            <name>pending_extensions_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pendingExtensionRequests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_Extension_Request</targetReference>
            </connector>
            <label>pending extensions are available</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_loaner_requestor</name>
        <label>has loaner requestor</label>
        <locationX>290</locationX>
        <locationY>332</locationY>
        <defaultConnectorLabel>Loaner Requestor  is not available</defaultConnectorLabel>
        <rules>
            <name>Loaner_Requestor_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanerRequest</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_extension_Requests_associated_with_Loaner_Requests</targetReference>
            </connector>
            <label>Loaner Requestor  is available</label>
        </rules>
    </decisions>
    <description>Clone Extension Requests with Extension Items</description>
    <interviewLabel>Clone Extension Requests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Extension Requests</label>
    <loops>
        <name>for_each_extension_Item</name>
        <label>for each extension Item</label>
        <locationX>1403</locationX>
        <locationY>194</locationY>
        <assignNextValueToReference>LoanerItem</assignNextValueToReference>
        <collectionReference>LoanerItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_old_extension_Item_to_new_extension_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_Extension_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Extension_Items</name>
        <label>create Extension Items</label>
        <locationX>1205</locationX>
        <locationY>346</locationY>
        <connector>
            <targetReference>navigate_to_new_Extension_Request</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Clone_Error_Message</targetReference>
        </faultConnector>
        <inputReference>newExtensionItemList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Extension_Request</name>
        <label>Create Extension Request</label>
        <locationX>954</locationX>
        <locationY>102</locationY>
        <assignRecordIdToReference>newExtensionRequestId</assignRecordIdToReference>
        <connector>
            <targetReference>get_Extension_Lines</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Clone_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Additional_Details_and_or_Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loaner_Extension_Created_On__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loaner_Request__c</field>
            <value>
                <elementReference>LoanerRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSM_PLM_Finisar__c</field>
            <value>
                <elementReference>RSMFinisar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>extensionRequestsRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Since_receiving_loaners_what_have_we_d__c</field>
            <value>
                <elementReference>sincereceiveingloaners</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Approval__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_engineering_tests_have_been_done__c</field>
            <value>
                <elementReference>engineeringtestscompleted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_engineering_tests_still_need_to_be__c</field>
            <value>
                <elementReference>engineeringtestsstillneeds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_the_real_expected_date_for_quali__c</field>
            <value>
                <elementReference>realExpectedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Loaner__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_Extension_Item_Record_Type</name>
        <label>get Extension Item Record Type</label>
        <locationX>843</locationX>
        <locationY>85</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Extension_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Extension_Item</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loaner_Line__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>extensionItemRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>get Extension Lines</description>
        <name>get_Extension_Lines</name>
        <label>get Extension Lines</label>
        <locationX>1103</locationX>
        <locationY>91</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Loaner_Lines_for_Extension_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loaner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loaner_Line__c</object>
        <outputReference>ExtensionLines</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Loaner_Line__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Extension_Record_Type</name>
        <label>get Extension Record Type</label>
        <locationX>686</locationX>
        <locationY>91</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Extension_Item_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loaner_Extension</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loaner__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>extensionRequestsRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Extension_Request</name>
        <label>get Extension Request</label>
        <locationX>180</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>has_loaner_requestor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loaner__c</object>
        <outputAssignments>
            <assignToReference>Comments</assignToReference>
            <field>Additional_Details_and_or_Comments__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LoanerRequest</assignToReference>
            <field>Loaner_Request__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RSMFinisar</assignToReference>
            <field>RSM_PLM_Finisar__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sincereceiveingloaners</assignToReference>
            <field>Since_receiving_loaners_what_have_we_d__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>engineeringtestscompleted</assignToReference>
            <field>What_engineering_tests_have_been_done__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>engineeringtestsstillneeds</assignToReference>
            <field>What_engineering_tests_still_need_to_be__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>realExpectedDate</assignToReference>
            <field>What_is_the_real_expected_date_for_quali__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_extension_Requests_associated_with_Loaner_Requests</name>
        <label>get pending extension Requests associated with Loaner Requests</label>
        <locationX>412</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_any_pending_extensions_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Extension_Request_Status_Check__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Loaner_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanerRequest</elementReference>
            </value>
        </filters>
        <object>Loaner__c</object>
        <outputReference>pendingExtensionRequests</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status_Approval__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Loaner_Lines_for_Extension_Request</name>
        <label>get Loaner Lines for Extension Request</label>
        <locationX>1233</locationX>
        <locationY>104</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExtendToDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loaner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanerRequest</elementReference>
            </value>
        </filters>
        <filters>
            <field>Balance_to_be_returned__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Loaner_Line__c</object>
        <outputReference>LoanerItems</outputReference>
        <queriedFields>Number_of_Extensions__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Generic_Product_Family__c</queriedFields>
        <queriedFields>S_O__c</queriedFields>
        <queriedFields>Loaner_Line__c</queriedFields>
        <queriedFields>Total_Extended_Days__c</queriedFields>
        <queriedFields>Customer__c</queriedFields>
        <queriedFields>Balance_to_be_returned__c</queriedFields>
        <queriedFields>Number_of_extensions_approved_before_thi__c</queriedFields>
        <queriedFields>Effective_Return_Due_Date__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Clone_Error_Message</name>
        <label>Clone Error Message</label>
        <locationX>944</locationX>
        <locationY>344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;div align=&quot;left&quot;&gt;
&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; &gt; Error! Please check Error Message {!$Flow.FaultMessage}
&lt;/FONT&gt;&lt;br/&gt;
&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;/{!recordId}&quot;&gt;Click here &lt;/A&gt;
to view old record
&lt;/FONT&gt;
&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Clone_Extension_Request</name>
        <label>Clone Extension Request</label>
        <locationX>572</locationX>
        <locationY>359</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>You cannot Clone this Extension Request As there are pending extensions on Loaner Requests</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GetExtendToDate</name>
        <label>GetExtendToDate</label>
        <locationX>1360</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>for_each_extension_Item</targetReference>
        </connector>
        <fields>
            <name>DisplyTest</name>
            <fieldText>&lt;p&gt;Select Extend To Date&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExtendToDate</name>
            <dataType>Date</dataType>
            <fieldText>ExtendToDate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>130</locationY>
        <connector>
            <targetReference>get_Extension_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Comments</description>
        <name>Comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contact</description>
        <name>Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>engineering tests completed</description>
        <name>engineeringtestscompleted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>engineeringtests  still needs</description>
        <name>engineeringtestsstillneeds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>EVP FInisar User</description>
        <name>EVPUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>extensionItemRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection of Extension Lines</description>
        <name>ExtensionLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
    <variables>
        <description>extension Request Record Type  Id</description>
        <name>extensionRequestsRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanerItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
    <variables>
        <description>Loaner Item Collection</description>
        <name>LoanerItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
    <variables>
        <description>Loaner Request from which Extension Created</description>
        <name>LoanerRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>new Extension Item</description>
        <name>newExtensionItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
    <variables>
        <description>new Extension Items</description>
        <name>newExtensionItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
    <variables>
        <name>newExtensionRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>pending Extensions on Loaner Request</description>
        <name>pendingExtensionRequests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loaner__c</objectType>
    </variables>
    <variables>
        <name>realExpectedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Extension Request Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RSMFinisar</description>
        <name>RSMFinisar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sincereceiveingloaners</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
