src/flows/ContactCountryCodeUpdates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Display_Mailing</name>
        <label>Assign Display Mailing</label>
        <locationX>1102</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>$Record.Display_Mailing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDisplayMailing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Whichfield</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Display_Other</name>
        <label>Assign Display Other</label>
        <locationX>570</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>$Record.Display_Other_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDisplayOther</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Whichfield</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mailing_Code</name>
        <label>Assign Mailing Code</label>
        <locationX>1053</locationX>
        <locationY>151</locationY>
        <assignmentItems>
            <assignToReference>$Record.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMailingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Whichfield</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOtherCode</name>
        <label>Assign Other Code</label>
        <locationX>632</locationX>
        <locationY>139</locationY>
        <assignmentItems>
            <assignToReference>$Record.OtherCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOtherCountryCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Whichfield</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Whichfield</name>
        <label>Whichfield?</label>
        <locationX>809</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>UpdateRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MailingCodeMissing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Display_Mailing_Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Display_Mailing_Country__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Display_Mailing_Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varMailingCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMailingCode</targetReference>
            </connector>
            <label>MailingCodeMissing</label>
        </rules>
        <rules>
            <name>OtherCodeMissing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Display_Other_Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Display_Other_Country__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Display_Other_Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOtherCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOtherCode</targetReference>
            </connector>
            <label>OtherCodeMissing</label>
        </rules>
        <rules>
            <name>DisplayMailingMissing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lenMailingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MailingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.MailingCountry</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDisplayMailing</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMailingCountryName</targetReference>
            </connector>
            <label>DisplayMailingMissing</label>
        </rules>
        <rules>
            <name>DisplayOtherMissing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lenOtherCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OtherCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OtherCountry</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDisplayOther</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOtherCountryName</targetReference>
            </connector>
            <label>DisplayOtherMissing</label>
        </rules>
    </decisions>
    <formulas>
        <description>Checks to see the length of the country is 2 digits</description>
        <name>lenMailingCountry</name>
        <dataType>Number</dataType>
        <expression>LEN({!$Record.MailingCountry})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Checks the length of the shipping country text field</description>
        <name>lenOtherCountry</name>
        <dataType>Number</dataType>
        <expression>Len({!$Record.OtherCountry})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>ContactCountryFields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContactCountryCodeUpdates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetMailingCode</name>
        <label>GetMailingCode</label>
        <locationX>937</locationX>
        <locationY>128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Mailing_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Display_Mailing_Country__c</elementReference>
            </value>
        </filters>
        <object>ISO_Country_List__mdt</object>
        <outputAssignments>
            <assignToReference>varMailingCountryCode</assignToReference>
            <field>X2_Character_Country_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetMailingCountryName</name>
        <label>GetMailingCountryName</label>
        <locationX>932</locationX>
        <locationY>554</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Display_Mailing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>X2_Character_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MailingCountry</elementReference>
            </value>
        </filters>
        <object>ISO_Country_List__mdt</object>
        <outputAssignments>
            <assignToReference>varDisplayMailing</assignToReference>
            <field>Country_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetOtherCode</name>
        <label>GetOtherCode</label>
        <locationX>773</locationX>
        <locationY>132</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignOtherCode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Display_Other_Country__c</elementReference>
            </value>
        </filters>
        <object>ISO_Country_List__mdt</object>
        <outputAssignments>
            <assignToReference>varOtherCountryCode</assignToReference>
            <field>X2_Character_Country_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetOtherCountryName</name>
        <label>GetOtherCountryName</label>
        <locationX>723</locationX>
        <locationY>554</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Display_Other</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>X2_Character_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OtherCountry</elementReference>
            </value>
        </filters>
        <object>ISO_Country_List__mdt</object>
        <outputAssignments>
            <assignToReference>varDisplayOther</assignToReference>
            <field>Country_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecord</name>
        <label>UpdateRecord</label>
        <locationX>1191</locationX>
        <locationY>370</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>114</locationX>
        <locationY>291</locationY>
        <connector>
            <targetReference>Whichfield</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Display_Mailing_Country__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Display_Other_Country__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MailingCountry</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OtherCountry</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varDisplayMailing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDisplayOther</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMailingCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOtherCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
