src/flows/Copy_Loaner_Records_with_Lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>navigatetonewLoaner</name>
        <label>navigatetonewLoaner</label>
        <locationX>1616</locationX>
        <locationY>247</locationY>
        <actionName>c:FlowNavigationtoRecordCMP</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>newRecord</name>
            <value>
                <elementReference>newLoanerRecId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>add_newloanerline_rec</name>
        <label>add newloanerline rec</label>
        <locationX>1074</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>newLoanerLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newLoanerLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_loaner_line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BuAssign</name>
        <label>BuAssign</label>
        <locationX>668</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>PreviousLineBU</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckWSS.Business_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckWSS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>copy_loaner_fields</name>
        <label>copy loaner line fields</label>
        <locationX>1402</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>newLoanerLineItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loaner_Item</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newLoanerLineItem.Loaner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newLoanerRecId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newLoanerLineItem.Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanerlinerecord.Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newLoanerLineItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanerlinerecord.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newLoanerLineItem.Est_Annual_Qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanerlinerecord.Est_Annual_Qty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newLoanerLineItem.Production_Price_ASP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanerlinerecord.Production_Price_ASP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newLoanerLineItem.Loaner_Qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanerlinerecord.Loaner_Qty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newLoanerLineItem.Loaner_Price_100_999_column_price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanerlinerecord.Loaner_Price_100_999_column_price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newLoanerLineItem.SOM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanerlinerecord.SOM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newLoanerLineItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loaner_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_newloanerline_rec</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckLineBu</name>
        <label>CheckLineBu</label>
        <locationX>563</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SameBu</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PreviousLineBU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckWSS.Business_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PreviousLineBU</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuAssign</targetReference>
            </connector>
            <label>SameBu</label>
        </rules>
        <rules>
            <name>DifferentBu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreviousLineBU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckWSS.Business_Unit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PreviousLineBU</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowError</targetReference>
            </connector>
            <label>DifferentBu</label>
        </rules>
    </decisions>
    <interviewLabel>Copy Loaner Records with Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Loaner Records with Lines</label>
    <loops>
        <name>CheckWSS</name>
        <label>CheckWSS</label>
        <locationX>643</locationX>
        <locationY>205</locationY>
        <collectionReference>oldLoanerLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckLineBu</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_Loaner_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>each_loaner_line</name>
        <label>each loaner line</label>
        <locationX>1256</locationX>
        <locationY>39</locationY>
        <assignNextValueToReference>loanerlinerecord</assignNextValueToReference>
        <collectionReference>oldLoanerLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>copy_loaner_fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_loaner_lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_loaner_lines</name>
        <label>create loaner lines</label>
        <locationX>1623</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>navigatetonewLoaner</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Loaner_Line_Creation_Message</targetReference>
        </faultConnector>
        <inputReference>newLoanerLines</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_Loaner_Record</name>
        <label>create Loaner Record</label>
        <locationX>896</locationX>
        <locationY>39</locationY>
        <assignRecordIdToReference>newLoanerRecId</assignRecordIdToReference>
        <connector>
            <targetReference>each_loaner_line</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AC_Mgr_Distributor__c</field>
            <value>
                <elementReference>ACMgrDistributor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AC_Mgr_Sales_rep__c</field>
            <value>
                <elementReference>ACMgrSalesRep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_ship_to__c</field>
            <value>
                <elementReference>AddressShipTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Name_End_Cust__c</field>
            <value>
                <elementReference>EndCustomer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Name_Ship_To__c</field>
            <value>
                <elementReference>CompanyShipTo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Text__c</field>
            <value>
                <elementReference>contact_text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ECO_Number__c</field>
            <value>
                <elementReference>ECONumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Est_Production_Date__c</field>
            <value>
                <elementReference>EstProdDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAE_Distributor__c</field>
            <value>
                <elementReference>FAEDistributor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FAE_Sales_rep__c</field>
            <value>
                <elementReference>FAESalesRep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Firm_Name_Distributor__c</field>
            <value>
                <elementReference>FirmNameDistributor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Firm_Name_Sales_rep__c</field>
            <value>
                <elementReference>FirmSalesRep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inside_Sales_Finisar__c</field>
            <value>
                <elementReference>InsideSalesFinisar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inside_Sales_Sales_rep__c</field>
            <value>
                <elementReference>InsideSalesRep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loaner_Duration_In_Days__c</field>
            <value>
                <elementReference>LoanerDurationDays</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loaner_Duration__c</field>
            <value>
                <elementReference>loanerDurationText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loaner_Ship_From_Finisar__c</field>
            <value>
                <elementReference>LoanerShipFrom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Type__c</field>
            <value>
                <elementReference>OpportunityType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Engineer__c</field>
            <value>
                <elementReference>ProjectEngineer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Name__c</field>
            <value>
                <elementReference>ProjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSM_PLM_Approval__c</field>
            <value>
                <elementReference>RSMPLMFinisar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSM_PLM_Finisar__c</field>
            <value>
                <elementReference>RSMPLMFinisar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>LoanerRequestRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tel_Number_text__c</field>
            <value>
                <elementReference>TelNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Loaner__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_Loaner_Item_Record_Type_Id</name>
        <label>get Loaner Item Record Type Id</label>
        <locationX>402</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Loaner_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loaner_Item</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loaner_Line__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Loaner_Item</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Loaner_Lines</name>
        <label>get Loaner Lines</label>
        <locationX>703</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckWSS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loaner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loaner_Line__c</object>
        <outputReference>oldLoanerLines</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Est_Annual_Qty__c</queriedFields>
        <queriedFields>RSM__c</queriedFields>
        <queriedFields>Loaner_Price_100_999_column_price__c</queriedFields>
        <queriedFields>Production_Price_ASP__c</queriedFields>
        <queriedFields>SOM__c</queriedFields>
        <queriedFields>Loaner_Ship_From__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Customer__c</queriedFields>
        <queriedFields>Loaner_Qty__c</queriedFields>
        <queriedFields>Order_Line__c</queriedFields>
        <queriedFields>User_Notes__c</queriedFields>
        <queriedFields>Part_Type_Notes__c</queriedFields>
        <queriedFields>Serial_Number__c</queriedFields>
        <queriedFields>CPN_Description__c</queriedFields>
        <queriedFields>Other_Description__c</queriedFields>
        <queriedFields>SAM__c</queriedFields>
        <queriedFields>Business_Unit__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Loaner_Record</name>
        <label>get Loaner Record</label>
        <locationX>133</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Loaner_Request_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loaner__c</object>
        <outputAssignments>
            <assignToReference>ACMgrDistributor</assignToReference>
            <field>AC_Mgr_Distributor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ACMgrSalesRep</assignToReference>
            <field>AC_Mgr_Sales_rep__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AddressShipTo</assignToReference>
            <field>Address_ship_to__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EndCustomer</assignToReference>
            <field>Company_Name_End_Cust__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CompanyShipTo</assignToReference>
            <field>Company_Name_Ship_To__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contact_text</assignToReference>
            <field>Contact_Text__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ECONumber</assignToReference>
            <field>ECO_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EstProdDate</assignToReference>
            <field>Est_Production_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FAEDistributor</assignToReference>
            <field>FAE_Distributor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FAESalesRep</assignToReference>
            <field>FAE_Sales_rep__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FirmNameDistributor</assignToReference>
            <field>Firm_Name_Distributor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FirmSalesRep</assignToReference>
            <field>Firm_Name_Sales_rep__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InsideSalesFinisar</assignToReference>
            <field>Inside_Sales_Finisar__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InsideSalesRep</assignToReference>
            <field>Inside_Sales_Sales_rep__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LoanerDurationDays</assignToReference>
            <field>Loaner_Duration_In_Days__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>loanerDurationText</assignToReference>
            <field>Loaner_Duration__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LoanerShipFrom</assignToReference>
            <field>Loaner_Ship_From_Finisar__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>loanerName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityType</assignToReference>
            <field>Opportunity_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Opportunity</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectEngineer</assignToReference>
            <field>Project_Engineer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectName</assignToReference>
            <field>Project_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>QualSample</assignToReference>
            <field>Qual_Sample_Finisar__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RSMPLM</assignToReference>
            <field>RSM_PLM_Finisar__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RSMPLMFinisar</assignToReference>
            <field>RSM_PLM_Finisar__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LoanerRequestRectype</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TelNumber</assignToReference>
            <field>Tel_Number_text__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Loaner_Request_Record_Type</name>
        <label>get Loaner Request Record Type</label>
        <locationX>285</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Loaner_Item_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loaner_Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loaner__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>LoanerRequestRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>911</locationX>
        <locationY>360</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorNavigation</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; Error! Please check Error Message {!$Flow.FaultMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;/{!recordId}&quot; TARGET=&quot;_blank&quot;&gt;Click here &lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;to view old record&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Loaner_Line_Creation_Message</name>
        <label>Loaner Line Creation Message</label>
        <locationX>1906</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message1</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Loaner Lines not Created because of the Error &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!$Flow.FaultMessage}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowError</name>
        <label>ShowError</label>
        <locationX>488</locationX>
        <locationY>465</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowBuError</name>
            <fieldText>&lt;p&gt;Loaner has Both WSS &amp;amp; Non WSS Lines, so you can&apos;t clone this Loaner.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_Loaner_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>ACMgrDistributor</description>
        <name>ACMgrDistributor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ACMgrSalesRep</description>
        <name>ACMgrSalesRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AddressShipTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompanyShipTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contact_lookup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contact_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ECONumber</description>
        <name>ECONumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EndCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EstProdDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>FAEDistributor</description>
        <name>FAEDistributor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>FAESalesRep</description>
        <name>FAESalesRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>FirmNameDistributor</description>
        <name>FirmNameDistributor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirmSalesRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsideSalesFinisar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsideSalesRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Loaner_Item</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanerDurationDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>loanerDurationPickValue</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>loanerDurationText</description>
        <name>loanerDurationText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loanerlinerecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
    <variables>
        <name>loanerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanerRequestRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanerRequestRectype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanerShipFrom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCustomerAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newLoanerLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
    <variables>
        <name>newLoanerLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
    <variables>
        <name>newLoanerRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Loaner Lines to be copied</description>
        <name>oldLoanerLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Order</description>
        <name>Order</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PreviousLineBU</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectEngineer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QualSample</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuesAns2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuesAns3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuesAnswer1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RealExpectedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Loaner Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordType Name</description>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RSM PLM</description>
        <name>RSMPLM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RSMPLMFinisar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TelNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
