src/flows/Copy_DR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>navigate_to_new_Record</name>
        <label>navigate to new Record</label>
        <locationX>1426</locationX>
        <locationY>150</locationY>
        <actionName>c:FlowNavigationtoRecordCMP</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>newRecord</name>
            <value>
                <elementReference>newDRid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>addnewDRLineintoList</name>
        <label>addnewDRLineintoList</label>
        <locationX>635</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>DRLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newDRLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_Opportunity_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_old_to_new_Opportunity_Products</name>
        <label>assign old to new Opportunity Products</label>
        <locationX>862</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>newDRLineItem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newDRid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newDRLineItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityProduct.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newDRLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityProduct.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newDRLineItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityProduct.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addnewDRLineintoList</targetReference>
        </connector>
    </assignments>
    <formulas>
        <description>assign Close Date to 30 Days</description>
        <name>assignCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 30</expression>
    </formulas>
    <formulas>
        <description>calculate Expiry Date to six months after  DR Submitted Date</description>
        <name>calcExpirationDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!DRSubmittedDate},6)</expression>
    </formulas>
    <interviewLabel>Copy DR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Opportunity</label>
    <loops>
        <name>each_Opportunity_Product</name>
        <label>each Opportunity Product</label>
        <locationX>745</locationX>
        <locationY>175</locationY>
        <assignNextValueToReference>opportunityProduct</assignNextValueToReference>
        <collectionReference>OldOpportunityProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_old_to_new_Opportunity_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createDRLines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>cloneDR</name>
        <label>cloneDR</label>
        <locationX>443</locationX>
        <locationY>187</locationY>
        <assignRecordIdToReference>newDRid</assignRecordIdToReference>
        <connector>
            <targetReference>each_Opportunity_Product</targetReference>
        </connector>
        <faultConnector>
            <targetReference>navErrorScreen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>assignCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DR_Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DR_Type__c</field>
            <value>
                <elementReference>DRType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_Registration__c</field>
            <value>
                <elementReference>DesignRegistration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Segment__c</field>
            <value>
                <elementReference>MarketSeg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DRName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PriceBookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Name__c</field>
            <value>
                <elementReference>projectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSM__c</field>
            <value>
                <elementReference>RSM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Channel__c</field>
            <value>
                <elementReference>SalesChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Open - Discussion</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAR_SI_Disti_EC__c</field>
            <value>
                <elementReference>VARSIECDisti</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>createDRLines</name>
        <label>createDRLines</label>
        <locationX>1105</locationX>
        <locationY>152</locationY>
        <connector>
            <targetReference>navigate_to_new_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>navErrorScreen</targetReference>
        </faultConnector>
        <inputReference>DRLines</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Opportunity_Products</name>
        <label>get Opportunity Products</label>
        <locationX>203</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>cloneDR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OldOpportunityProducts</outputReference>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Line_Number__c</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Loaner_Quantity__c</queriedFields>
        <queriedFields>Loaner_Required__c</queriedFields>
        <queriedFields>SAM__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>180</locationX>
        <locationY>76</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DRStatus</assignToReference>
            <field>DR_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DRType</assignToReference>
            <field>DR_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DesignRegistration</assignToReference>
            <field>Design_Registration__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DRExpirationDate</assignToReference>
            <field>Expiration_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MarketSeg</assignToReference>
            <field>Market_Segment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DRName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PriceBookId</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>projectName</assignToReference>
            <field>Project_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RSM</assignToReference>
            <field>RSM__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Region</assignToReference>
            <field>Region__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DRRenewedDate</assignToReference>
            <field>Renewed_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SalesChannel</assignToReference>
            <field>Sales_Channel__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DRStage</assignToReference>
            <field>StageName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DRSubmittedDate</assignToReference>
            <field>Submitted_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VARSIECDisti</assignToReference>
            <field>VAR_SI_Disti_EC__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>navErrorScreen</name>
        <label>navErrorScreen</label>
        <locationX>779</locationX>
        <locationY>11</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Error! &lt;FONT KERNING=&quot;1&quot;&gt;{!$Flow.FaultMessage} &lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;/{!recordId}&quot; TARGET=&quot;_blank&quot;&gt;Click here &lt;/A&gt; to Correct Previous Opportunity RSM &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getOpportunity</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cloneOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>CustomerType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DesignRegistration</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DRCloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DRCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DRExpirationDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection of new DR Line Items copied from existing DR Items</description>
        <name>DRLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>DRName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DRRenewedDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DRStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DRStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DRSubmittedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DRType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MarketSeg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newDRid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newDRLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OldOpportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>opportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>PriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>projectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Opportunity Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RSM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VARSIECDisti</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
