src/flows/createLoanerextension.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>map_Loaner_Extension_with_UI_Fields</name>
        <label>Create Extension Request</label>
        <locationX>949</locationX>
        <locationY>273</locationY>
        <assignmentItems>
            <assignToReference>extensionRequest.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>extensionrequestRecordid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extensionRequest.Since_receiving_loaners_what_have_we_d__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes_On_Receving_Loaners</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extensionRequest.What_engineering_tests_have_been_done__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>engineering_tests_have_been_done</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extensionRequest.What_engineering_tests_still_need_to_be__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>engineering_tests_still_required</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extensionRequest.What_is_the_real_expected_date_for_quali__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>expected_date_for_qualification</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extensionRequest.Loaner_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extensionRequest.Additional_Details_and_or_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extensionRequest.Loaner_Extension_Created_On__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extensionRequest.RSM_PLM_Finisar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extensionRequest.VP_PLD_Finisar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extensionRequest.AC_Mgr_Distributor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>A_CMgrDistributor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extensionRequest.AC_Mgr_Sales_rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>A_CMgrSalesRep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extensionRequest.Firm_Name_Distributor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistributorFirmName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extensionRequest.Firm_Name_Sales_rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalesRepFirmName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extensionRequest.Loaner_Ship_From_Finisar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoanerShipForm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extensionRequest.Inside_Sales_Finisar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InsideSales</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>extensionRequest.RSM_PLM_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSMApprover</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>chooseLoanerlines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_extension_request_is_created_or_not</name>
        <label>check if extension request is created or not</label>
        <locationX>1780</locationX>
        <locationY>173</locationY>
        <defaultConnector>
            <targetReference>Extension_Request_Not_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>extension request not created</defaultConnectorLabel>
        <rules>
            <name>extension_request_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>extensionRequest.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extension_Request</targetReference>
            </connector>
            <label>extension request created</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_extension_should_be_created_or_not</name>
        <label>check if extension should be created or not</label>
        <locationX>117</locationX>
        <locationY>470</locationY>
        <defaultConnector>
            <targetReference>Information_About_Pending_Loaner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Extension Should not be created when Loaner is Pending Approval</defaultConnectorLabel>
        <rules>
            <name>Extension_Should_be_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanerStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRecordtypeforExtensionRequest</targetReference>
            </connector>
            <label>Extension Should be Created</label>
        </rules>
        <rules>
            <name>Loaner_is_Rejected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoanerStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoanerStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Information_About_Loaner_Rejected</targetReference>
            </connector>
            <label>Loaner is Rejected</label>
        </rules>
        <rules>
            <name>Loaner_is_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanerStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Information_About_Cancelled_Loaners</targetReference>
            </connector>
            <label>Loaner is Draft</label>
        </rules>
    </decisions>
    <decisions>
        <name>loaner_can_be_extended</name>
        <label>loaner can be extended</label>
        <locationX>938</locationX>
        <locationY>89</locationY>
        <defaultConnector>
            <targetReference>Loaner_Extension</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loaner Lines Cannot Be Extended Because of Shipped Date or Return Due Date</defaultConnectorLabel>
        <rules>
            <name>Loaner_Items_to_be_extended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loanerItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>map_Loaner_Extension_with_UI_Fields</targetReference>
            </connector>
            <label>Loaner Items to be extended</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loaner_Lines_are_Empty</name>
        <label>Loaner Lines are Empty</label>
        <locationX>1337</locationX>
        <locationY>234</locationY>
        <defaultConnector>
            <targetReference>call_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loaner Lines can be extended</defaultConnectorLabel>
        <rules>
            <name>Loaner_Line_Choices_are_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanerLineItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loaner_Extension</targetReference>
            </connector>
            <label>Loaner Line Choices are Empty</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>loanerlinechoices</name>
        <dataType>String</dataType>
        <displayField>Display_Product_Code_Marketing__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Balance_to_be_returned__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Loaner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Shipped_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Shipped_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Loaner_Line__c</object>
        <sortField>Effective_Return_Due_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>createLoanerExtension {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Loaner Extension</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_extension_Item_Record_Id</name>
        <label>get extension Item Record Id</label>
        <locationX>479</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>extension_Request_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Extension_Item</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loaner_Line__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>extensionItemRecId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getLoanerLines</name>
        <label>getLoanerLines</label>
        <locationX>704</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loaner_can_be_extended</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Balance_to_be_returned__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Loaner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Shipped_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Shipped_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>Loaner_Line__c</object>
        <outputReference>loanerItems</outputReference>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Shipped_Date__c</queriedFields>
        <queriedFields>Effective_Return_Due_Date__c</queriedFields>
        <queriedFields>Total_Extended_Days__c</queriedFields>
        <queriedFields>Line_Status__c</queriedFields>
        <queriedFields>Line_Number__c</queriedFields>
        <queriedFields>Balance_to_be_returned__c</queriedFields>
        <queriedFields>Number_of_Extensions__c</queriedFields>
        <queriedFields>RSM__c</queriedFields>
        <queriedFields>SVP__c</queriedFields>
        <queriedFields>VP__c</queriedFields>
        <queriedFields>Display_Product_Code_Marketing__c</queriedFields>
        <queriedFields>Marketing_P_N__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRecordtypeforExtensionRequest</name>
        <label>getRecordtypeforExtensionRequest</label>
        <locationX>291</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_extension_Item_Record_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loaner_Extension</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loaner__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>extensionrequestRecordid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>loanerRequest</name>
        <label>loanerRequest</label>
        <locationX>180</locationX>
        <locationY>85</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_extension_should_be_created_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loaner__c</object>
        <outputAssignments>
            <assignToReference>A_CMgrDistributor</assignToReference>
            <field>AC_Mgr_Distributor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>A_CMgrSalesRep</assignToReference>
            <field>AC_Mgr_Sales_rep__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Customer</assignToReference>
            <field>Company_Name_End_Cust__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DistributorFirmName</assignToReference>
            <field>Firm_Name_Distributor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SalesRepFirmName</assignToReference>
            <field>Firm_Name_Sales_rep__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InsideSales</assignToReference>
            <field>Inside_Sales_Finisar__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LoanerDuration_NoReturn</assignToReference>
            <field>Loaner_Duration__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LoanerShipForm</assignToReference>
            <field>Loaner_Ship_From_Finisar__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RSMApprover</assignToReference>
            <field>RSM_PLM_Approval__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RSM</assignToReference>
            <field>RSM_PLM_Finisar__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LoanerStatus</assignToReference>
            <field>Status_Approval__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VP</assignToReference>
            <field>VP_PLD_Finisar__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>chooseLoanerlines</name>
        <label>Choose Loaner Lines</label>
        <locationX>1062</locationX>
        <locationY>269</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loaner_Lines_are_Empty</targetReference>
        </connector>
        <fields>
            <name>LoanerLineItem</name>
            <choiceReferences>loanerlinechoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Loaner Line Item</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Extension_Request</name>
        <label>Extension Request For Approval</label>
        <locationX>1624</locationX>
        <locationY>391</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ExtensionRequestFinish</name>
            <fieldText>Your Extension Request has been Created . 
Click on Finish and then Click on  Submit For Approval in next Screen or Click on  Close if you do not want to submit for approval</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>extension_Request_details</name>
        <label>Extension Request Details</label>
        <locationX>486</locationX>
        <locationY>95</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getLoanerLines</targetReference>
        </connector>
        <fields>
            <name>Notes_On_Receving_Loaners</name>
            <fieldText>Since receiving loaners, what have we done with them?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>User Can enter  Max of  131072 Chars</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>engineering_tests_have_been_done</name>
            <fieldText>What engineering tests have been done?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>User Can enter  Max of  131072 Chars</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>engineering_tests_still_required</name>
            <fieldText>What engineering tests still need to be done?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>User Can enter  Max of  131072 Chars</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Additional Details and/or Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>User Can enter  Max of  131072 Chars</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>expected_date_for_qualification</name>
            <dataType>Date</dataType>
            <fieldText>What is the real expected date for qualification?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Extension_Request_Not_Created</name>
        <label>Extension Request Not Created</label>
        <locationX>1925</locationX>
        <locationY>349</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaultScreen</name>
            <fieldText>Extension Request has not been created  due to either of the following reasons
1 User has not selected any Loaner Items.
2. Loaner Request has pending extensions  or Draft Extensions .Please check Loaner Record .</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>User cannot create Extension When Loaner is in Draft Status</description>
        <name>Information_About_Cancelled_Loaners</name>
        <label>Information About Draft Loaners</label>
        <locationX>177</locationX>
        <locationY>698</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Information_About_Loaner_Rejected</name>
        <label>Information About Loaner Rejected</label>
        <locationX>333</locationX>
        <locationY>684</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Loaner_Rejected_Message</name>
            <fieldText>User cannot create Extension When Loaner is in Rejected/Cancelled Status</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Information_About_Pending_Loaner</name>
        <label>Information About Pending Loaner</label>
        <locationX>460</locationX>
        <locationY>469</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;/{!recordId}&quot; TARGET=&quot;_blank&quot;&gt;Click here &lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;to approve   Loaner request record&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Loaner_Extension</name>
        <label>Loaner Extension</label>
        <locationX>1321</locationX>
        <locationY>23</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LoanerextensioncannotbeCreated</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Loaner Lines Cannot be Extended because &lt;/FONT&gt;&lt;/DIV&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;   Loaner Line Shipping Date is greater than Current   Date .(Check Shipping Date on Loaner Lines)&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;.Users did n&amp;apos;t Enter Shipping Date .&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;User didn&amp;apos;t Choose any Loaner Item for Extension&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>loanerRequest</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>call_Flow</name>
        <label>call Flow</label>
        <locationX>1636</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>check_if_extension_request_is_created_or_not</targetReference>
        </connector>
        <flowName>check_whecther_extension_request_created_or_not</flowName>
        <inputAssignments>
            <name>extensionItemRecordType</name>
            <value>
                <elementReference>extensionItemRecId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>extensionRequest</name>
            <value>
                <elementReference>extensionRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoanerRequestorLines</name>
            <value>
                <elementReference>loanerItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>selectedLoanerRequestorLine</name>
            <value>
                <elementReference>LoanerLineItem</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>extensionRequest</assignToReference>
            <name>extensionRequest</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>A/C Mgr Distributor</description>
        <name>A_CMgrDistributor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A_C Mgr SalesRep</description>
        <name>A_CMgrSalesRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountofExtensions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Customer</description>
        <name>Customer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Distributor Firm Name</description>
        <name>DistributorFirmName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>EVP Approval</description>
        <name>EVP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>extension</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loaner__c</objectType>
    </variables>
    <variables>
        <description>get extensions Items which are pending for Approval</description>
        <name>extensionItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
    <variables>
        <name>extensionItemRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>extensionitems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
    <variables>
        <name>extensionRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Loaner__c</objectType>
    </variables>
    <variables>
        <name>extensionrequestRecordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>extensions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loaner__c</objectType>
    </variables>
    <variables>
        <description>Inside Sales</description>
        <name>InsideSales</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanerDuration_NoReturn</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loaneritem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
    <variables>
        <name>loanerItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
    <variables>
        <description>Loaner Ship From</description>
        <name>LoanerShipForm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Loaner Requestor status</description>
        <name>LoanerStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RSM</description>
        <name>RSM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RSM Approver</description>
        <name>RSMApprover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Sales Rep Firm Name</description>
        <name>SalesRepFirmName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>VP</description>
        <name>VP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
