src/flows/createLoanerrequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>navigate_to_new_Record</name>
        <label>navigate to new Record</label>
        <locationX>1287</locationX>
        <locationY>427</locationY>
        <actionName>c:FlowNavigationtoRecordCMP</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>newRecord</name>
            <value>
                <elementReference>newLoanerreqid</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>addloanerlineitemTolist</name>
        <label>addloanerlineitemTolist</label>
        <locationX>1075</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>loanerItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loanerlineitem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eachOpportunityLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>mapopplineitemtoLoanerlineitems</name>
        <label>mapopplineitemtoLoanerlineitems</label>
        <locationX>778</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>loanerlineitem.Loaner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newLoanerreqid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanerlineitem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppLineitem.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanerlineitem.Loaner_Qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanerlineitem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanerlinerecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loanerlineitem.CPN_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppLineitem.Customer_Part_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addloanerlineitemTolist</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Loaner_Request_Created_or_not</name>
        <label>check Loaner Request Created or not</label>
        <locationX>356</locationX>
        <locationY>43</locationY>
        <defaultConnector>
            <targetReference>Loaner_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>do not create loaner requests</defaultConnectorLabel>
        <rules>
            <name>StageName_is_Open_Discussion</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>opportunityStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open - Discussion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunityStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open – Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>opportunityStage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open - Sample Shipped</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLoanerrecordtypes</targetReference>
            </connector>
            <label>StageName is Open – Discussion</label>
        </rules>
    </decisions>
    <description>Create Loaner Request From Opportunity</description>
    <dynamicChoiceSets>
        <name>oppLineItems</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>createLoanerrequest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Loaner Request</label>
    <loops>
        <name>eachOpportunityLineItem</name>
        <label>eachOpportunityLineItem</label>
        <locationX>905</locationX>
        <locationY>296</locationY>
        <assignNextValueToReference>oppLineitem</assignNextValueToReference>
        <collectionReference>selectOpplineitems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>mapopplineitemtoLoanerlineitems</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_loaner_line_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_loaner_line_items</name>
        <label>create loaner line items</label>
        <locationX>1290</locationX>
        <locationY>295</locationY>
        <connector>
            <targetReference>navigate_to_new_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>loanerItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createLoanerRequest</name>
        <label>createLoanerRequest</label>
        <locationX>697</locationX>
        <locationY>178</locationY>
        <assignRecordIdToReference>newLoanerreqid</assignRecordIdToReference>
        <connector>
            <targetReference>getOpportunitylineitemsforopportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Company_Name_End_Cust__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Firm_Name_Sales_rep__c</field>
            <value>
                <elementReference>RepFirmName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Type__c</field>
            <value>
                <stringValue>New Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Name__c</field>
            <value>
                <elementReference>projectname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSM_PLM_Approval__c</field>
            <value>
                <elementReference>RSM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RSM_PLM_Finisar__c</field>
            <value>
                <elementReference>RSM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtypeid</elementReference>
            </value>
        </inputAssignments>
        <object>Loaner__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_Loaner_Line_Record_Type</name>
        <label>get Loaner Line Record Type</label>
        <locationX>693</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createLoanerRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loaner Item</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loaner_Line__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>loanerlinerecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getLoanerrecordtypes</name>
        <label>getLoanerrecordtypes</label>
        <locationX>525</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Loaner_Line_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loaner Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loaner__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordtypeid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordtypename</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOpportunitylineitemsforopportunity</name>
        <label>getOpportunitylineitemsforopportunity</label>
        <locationX>897</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eachOpportunityLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>selectOpplineitems</outputReference>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Loaner_Quantity__c</queriedFields>
        <queriedFields>Loaner_Required__c</queriedFields>
        <queriedFields>Customer_Part_Number__c</queriedFields>
        <queriedFields>SAM__c</queriedFields>
        <queriedFields>Other_Description__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Product_Family__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>opportunityDetails</name>
        <label>opportunityDetails</label>
        <locationX>180</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Loaner_Request_Created_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>projectname</assignToReference>
            <field>Project_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RSM</assignToReference>
            <field>RSM__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RepFirmName</assignToReference>
            <field>Rep_Firm_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>opportunityStage</assignToReference>
            <field>StageName</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error  Screen</label>
        <locationX>1536</locationX>
        <locationY>295</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMSG</name>
            <fieldText>Please Contact System Admin to rectify this error .
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorMessage</name>
        <label>ErrorMessage</label>
        <locationX>548</locationX>
        <locationY>276</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>navigationMessage</name>
            <fieldText>Please Contact System Admin to rectify this error .
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Loaner_Request</name>
        <label>Loaner Request Creation</label>
        <locationX>346</locationX>
        <locationY>178</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DonotCreatLoanerRequest</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;/{!recordId}&quot; TARGET=&quot;&quot;&gt; Click here &lt;/A&gt;  to return to previous opportunity , &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;As  Opportunitiy is not in Open Discussion or Open Shipped Stage. We cannot create Loaner Request From Opportunity .&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>opportunityDetails</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>loanerItems</description>
        <name>loanerItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
    <variables>
        <description>loanerlineitem</description>
        <name>loanerlineitem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
    <variables>
        <name>loanerlinerecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newLoanerreqid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppcustomerType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppLineitem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>projectname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>current Opportunity Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordtypeid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordtypename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RepFirmName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RSM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>select oppline items and copy into loaner line items</description>
        <name>selectOpplineitems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
