src/flows/Create_RMA_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>navigate_to_RMA_Request</name>
        <label>navigate to RMA Request</label>
        <locationX>965</locationX>
        <locationY>37</locationY>
        <actionName>c:FlowNavigationtoRecordCMP</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>newRecord</name>
            <value>
                <elementReference>RMARequest.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>map_Loaner_to_RMA</name>
        <label>map Loaner to RMA</label>
        <locationX>578</locationX>
        <locationY>36</locationY>
        <assignmentItems>
            <assignToReference>RMARequest.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndCustomer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RMARequest.Customer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShiptoCustomer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RMARequest.Customer_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippedCustomerAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RMARequest.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RMARequestRecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RMARequest.Loaner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RMARequest.Requested_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Loaner Return</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RMARequest.Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Zero Dollar Inbound and Outbound ( No Dollar Amount Involved)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RMARequest.Outbound_RMA_Not_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RMARequest.CustomerRef_RMANo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOnumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RMARequest.Finisar_Sales_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>finisarRSM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RMARequest.Failure_Location__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sample / Demo /Loaner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_RMA_Request</targetReference>
        </connector>
    </assignments>
    <description>Create RMA Request From Loaner</description>
    <interviewLabel>Create RMA Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create RMA Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_RMA_Request</name>
        <label>create RMA Request</label>
        <locationX>780</locationX>
        <locationY>36</locationY>
        <connector>
            <targetReference>navigate_to_RMA_Request</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>RMARequest</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Loaner_Record</name>
        <label>get Loaner Record</label>
        <locationX>201</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_RMA_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loaner__c</object>
        <outputAssignments>
            <assignToReference>ShippedCustomerAddress</assignToReference>
            <field>Address_ship_to__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EndCustomer</assignToReference>
            <field>Company_Name_End_Cust__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ShiptoCustomer</assignToReference>
            <field>Company_Name_Ship_To__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FinisarSalesRep</assignToReference>
            <field>Inside_Sales_Finisar__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>finisarRSM</assignToReference>
            <field>RSM_PLM_Finisar__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SOnumber</assignToReference>
            <field>SO_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_RMA_Record_Type</name>
        <label>get RMA Record Type</label>
        <locationX>404</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>map_Loaner_to_RMA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RMA_Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RMARequestRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>787</locationX>
        <locationY>211</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Errror ! Please go through Loaner Request and correct Errors&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!$Flow.FaultMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;/{!recordId}&quot; TARGET=&quot;_blank&quot;&gt;Click here &lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;to view loaner request&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_Loaner_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>End Customer</description>
        <name>EndCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finisarRSM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Finisar Sales Rep Captured in Loaner</description>
        <name>FinisarSalesRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Loaner Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Creation of RMA Request From Loaner Object 
to Return Loaners to Finisar</description>
        <name>RMARequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>RMA Request Record Type Id</description>
        <name>RMARequestRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Shipped Customer Address (Site)</description>
        <name>ShippedCustomerAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Ship To Customer</description>
        <name>ShiptoCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SO Number from Loaner</description>
        <name>SOnumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
