src/flows/create_opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>navigate_to_new_Opportunity</name>
        <label>navigate to new Opportunity</label>
        <locationX>1093</locationX>
        <locationY>301</locationY>
        <actionName>c:FlowNavigationtoRecordCMP</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>newRecord</name>
            <value>
                <elementReference>newOpportunity.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>add_opportunity_product_to_list</name>
        <label>add opportunity product to list</label>
        <locationX>631</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProductList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>opportunityProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_loaner_line_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_loaner_line_to_opportunity</name>
        <label>assign loaner line to opportunity</label>
        <locationX>634</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>opportunityProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanerlineitem.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanerlineitem.Loaner_Qty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanerlineitem.Loaner_Price_100_999_column_price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_opportunity_product_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Opportunity</name>
        <label>assign Opportunity</label>
        <locationX>771</locationX>
        <locationY>65</locationY>
        <assignmentItems>
            <assignToReference>newOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanerrequestname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpportunity.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stdpricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndCustomer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpportunity.Project_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>projectname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpportunity.RSM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RSMPLM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open - Discussion</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_loaner_line_item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_whether_create_opportunity_or_not</name>
        <label>check whether create opportunity or not</label>
        <locationX>182</locationX>
        <locationY>59</locationY>
        <defaultConnector>
            <targetReference>DoNotcreationLoanerRequest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>do not create Opportunity</defaultConnectorLabel>
        <rules>
            <name>createOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLoanerLines</targetReference>
            </connector>
            <label>create Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loaner_Items_are_present_or_not</name>
        <label>Loaner Items are present or not</label>
        <locationX>465</locationX>
        <locationY>94</locationY>
        <defaultConnector>
            <targetReference>Loaner_Lines_are_not_available_on_Loaner_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loaner Items are not available</defaultConnectorLabel>
        <rules>
            <name>Loaner_Items_are_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loanerlineitems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPricebook</targetReference>
            </connector>
            <label>Loaner Items are available</label>
        </rules>
    </decisions>
    <decisions>
        <name>new_Opportunity_Created_or_not</name>
        <label>new Opportunity Created or not</label>
        <locationX>370</locationX>
        <locationY>286</locationY>
        <defaultConnector>
            <targetReference>create_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>create new Opportunity</defaultConnectorLabel>
        <rules>
            <name>new_Opportunity_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newOpportunity.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_loaner_line_to_opportunity</targetReference>
            </connector>
            <label>new Opportunity Created</label>
        </rules>
    </decisions>
    <description>Create Opportunity From Loaner Request</description>
    <formulas>
        <description>Close Date For New Opportunity Should be 6 months from Today</description>
        <name>CloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 180</expression>
    </formulas>
    <interviewLabel>create opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opportunity</label>
    <loops>
        <name>each_loaner_line_item</name>
        <label>each loaner line item</label>
        <locationX>635</locationX>
        <locationY>194</locationY>
        <assignNextValueToReference>loanerlineitem</assignNextValueToReference>
        <collectionReference>loanerlineitems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>new_Opportunity_Created_or_not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_Opportunity_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Opportunity</name>
        <label>create Opportunity</label>
        <locationX>267</locationX>
        <locationY>464</locationY>
        <connector>
            <targetReference>assign_loaner_line_to_opportunity</targetReference>
        </connector>
        <inputReference>newOpportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_Opportunity_Products</name>
        <label>create Opportunity Products</label>
        <locationX>947</locationX>
        <locationY>190</locationY>
        <connector>
            <targetReference>navigate_to_new_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_screen</targetReference>
        </faultConnector>
        <inputReference>OpportunityProductList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getLoanerLines</name>
        <label>getLoanerLines</label>
        <locationX>325</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loaner_Items_are_present_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loaner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loaner_Line__c</object>
        <outputReference>loanerlineitems</outputReference>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Marketing_P_N__c</queriedFields>
        <queriedFields>Loaner_Qty__c</queriedFields>
        <queriedFields>SOM__c</queriedFields>
        <queriedFields>Loaner_Price_100_999_column_price__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getLoanerRequest</name>
        <label>getLoanerRequest</label>
        <locationX>28</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_whether_create_opportunity_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Opportunity</stringValue>
            </value>
        </filters>
        <object>Loaner__c</object>
        <outputAssignments>
            <assignToReference>EndCustomer</assignToReference>
            <field>Company_Name_End_Cust__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RepFirmName</assignToReference>
            <field>Firm_Name_Sales_rep__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InsideSalesFinisar</assignToReference>
            <field>Inside_Sales_Finisar__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>loanerrequestname</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OpportunityType</assignToReference>
            <field>Opportunity_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>projectname</assignToReference>
            <field>Project_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RSMPLM</assignToReference>
            <field>RSM_PLM_Finisar__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getPricebook</name>
        <label>getStandardPricebook</label>
        <locationX>595</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>stdpricebookId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>DoNotcreationLoanerRequest</name>
        <label>Message</label>
        <locationX>179</locationX>
        <locationY>234</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DonotCreateOpportunity</name>
            <fieldText>Creation of Opportunity From Loaner Request is not allowed due to Opportunity Type is not &apos;New Opportunity&apos;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error_screen</name>
        <label>Error Message</label>
        <locationX>973</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorscreen</name>
            <fieldText>&lt;div align=&quot;left&quot;&gt;
&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; &gt; Error! Please check Error Message {!$Flow.FaultMessage}
&lt;/FONT&gt;
&lt;/div&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Loaner_Lines_are_not_available_on_Loaner_Record</name>
        <label>Loaner Lines are not available on Loaner Record</label>
        <locationX>385</locationX>
        <locationY>197</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>Loaner Lines are not available on Loaner Record .
Please kindly check loaner record .</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getLoanerRequest</startElementReference>
    <status>Active</status>
    <variables>
        <name>EndCustomer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsideSalesFinisar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>isPricebookEntryActiveforthis Product</description>
        <name>isPricebookEntryActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loanerlineitem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
    <variables>
        <name>loanerlineitems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
    <variables>
        <name>loanerrequestname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>new Opportunity Fields</description>
        <name>newOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityProductList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>projectname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RepFirmName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RSMPLM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stdpricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
