src/flows/DRDuplicateccheckflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_When_First_DR_is_Approved_on_Account</name>
        <label>Send Email When First DR is Approved on Account</label>
        <locationX>1242</locationX>
        <locationY>470</locationY>
        <actionName>Opportunity.sendEmailfor_DuplicateDRs</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>unique_Design_Registration</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sendDuplicateDrs</name>
        <label>sendDuplicateDrs</label>
        <locationX>699</locationX>
        <locationY>534</locationY>
        <actionName>Opportunity.sendEmailfor_DuplicateDRs</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>add_opportunities_to_list</name>
        <label>add opportunities to list</label>
        <locationX>1056</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>duplicateOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>optyLineitem.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>each_line_item_in_current_opportunity</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>NoLineitemsaddedtoTheDR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No Line Items are Added to the DR</stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_Design_Registrations_exists_for_Account</name>
        <label>check Design Registrations exists for Account</label>
        <locationX>515</locationX>
        <locationY>20</locationY>
        <defaultConnector>
            <targetReference>Check_if_Duplicate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>there are no design registration on Account</defaultConnectorLabel>
        <rules>
            <name>already_there_are_design_registrations_which_are_not_expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opptyLines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>eachOpportunityLineItem</targetReference>
            </connector>
            <label>already there are design registrations which are not expired</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Duplicate</name>
        <label>Check if Duplicate</label>
        <locationX>684</locationX>
        <locationY>193</locationY>
        <defaultConnector>
            <targetReference>updateOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DuplicateExists</defaultConnectorLabel>
        <rules>
            <name>IsDuplicateisEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>duplicateOpportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateSubmitDate</targetReference>
            </connector>
            <label>IsDuplicatesEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Line_items_added_to_DR</name>
        <label>Check if Line items added to DR</label>
        <locationX>228</locationX>
        <locationY>164</locationY>
        <defaultConnector>
            <targetReference>getLineItemsforOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>lines added</defaultConnectorLabel>
        <rules>
            <name>no_Lines_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentOpportunitLineItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Lines_Added1</targetReference>
            </connector>
            <label>no Lines Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCustomerPartNosMatch</name>
        <label>checkCustomerPartNosMatch</label>
        <locationX>1405</locationX>
        <locationY>35</locationY>
        <defaultConnector>
            <targetReference>each_line_item_in_current_opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer Part Numbers Do not Match</defaultConnectorLabel>
        <rules>
            <name>productsNo_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>optyLineitem.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>tempOppLineItem.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>duplicateOpportunitiesCheck</targetReference>
            </connector>
            <label>Customer Part Numbers Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>duplicateOpportunitiesCheck</name>
        <label>duplicateOpportunitiesCheck</label>
        <locationX>1319</locationX>
        <locationY>197</locationY>
        <defaultConnector>
            <targetReference>add_opportunities_to_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>add Opportunity to List</defaultConnectorLabel>
        <rules>
            <name>duplicateOpportunties</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>duplicateOpportunities</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>optyLineitem.OpportunityId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>each_line_item_in_current_opportunity</targetReference>
            </connector>
            <label>do not add Opportunity to List</label>
        </rules>
    </decisions>
    <formulas>
        <name>expirationDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 180</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>{!$System.OriginDateTime}</expression>
    </formulas>
    <interviewLabel>DRDuplicateccheckflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DRDuplicateccheckflow</label>
    <loops>
        <name>each_line_item_in_current_opportunity</name>
        <label>each line item in current opportunity</label>
        <locationX>1056</locationX>
        <locationY>23</locationY>
        <assignNextValueToReference>tempOppLineItem</assignNextValueToReference>
        <collectionReference>currentOpportunitLineItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkCustomerPartNosMatch</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>eachOpportunityLineItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>eachOpportunityLineItem</name>
        <label>eachOpportunityLineItem</label>
        <locationX>696</locationX>
        <locationY>31</locationY>
        <assignNextValueToReference>optyLineitem</assignNextValueToReference>
        <collectionReference>opptyLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>each_line_item_in_current_opportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Duplicate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCurrentOppty</name>
        <label>getCurrentOppty</label>
        <locationX>9</locationX>
        <locationY>12</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOpplineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DR_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>Design_Registration__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>currentOpportunity</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getLineItemsforOpportunity</name>
        <label>getLineItemsforOpportunity</label>
        <locationX>337</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Design_Registrations_exists_for_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Formula_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DR_Expiration_date_Formula__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>DR_Formula_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DR_status_Formula__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>opptyLines</outputReference>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Customer_Part_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getOpplineItems</name>
        <label>getOpplineItems for current Design Registration</label>
        <locationX>184</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Line_items_added_to_DR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>currentOpportunitLineItem</outputReference>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Customer_Part_Number__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateOpportunity</name>
        <label>updateCurrentOpportunity</label>
        <locationX>673</locationX>
        <locationY>387</locationY>
        <connector>
            <targetReference>updateDuplicateOpportunities</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Design_Registration__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DR_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>expirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSubmitDate</name>
        <label>UpdateSubmitDate</label>
        <locationX>1067</locationX>
        <locationY>426</locationY>
        <connector>
            <targetReference>Send_Email_When_First_DR_is_Approved_on_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DR_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>expirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitted_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>498</locationX>
        <locationY>390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorInformation</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt; 
&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot;&gt; Error! {!$Flow.FaultMessage}&lt;/FONT&gt;&lt;br/&gt;
&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;a HREF=&quot;/{!recordId}&quot; TARGET=&quot;_blank&quot;&gt; Click here &lt;/a&gt;  Or Finish to check DR Status  on pervious Design Registration  &lt;/FONT&gt;

&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Lines_Added1</name>
        <label>No Lines Added</label>
        <locationX>193</locationX>
        <locationY>280</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoLines</name>
            <fieldText>&quot;No Lines Added to The DR&quot;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>unique_Design_Registration</name>
        <label>DR with unique Products</label>
        <locationX>1075</locationX>
        <locationY>548</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Information</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Success! Design Registration has been Approved&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your Design Registration  has been approved.Please find updated Design Registration&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;A HREF=&quot;/{!recordId}&quot; TARGET=&quot;_blank&quot;&gt;Click here &lt;/A&gt; to view Design Registration .&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getCurrentOppty</startElementReference>
    <status>Active</status>
    <subflows>
        <name>updateDuplicateOpportunities</name>
        <label>updateDuplicateOpportunities</label>
        <locationX>412</locationX>
        <locationY>529</locationY>
        <connector>
            <targetReference>sendDuplicateDrs</targetReference>
        </connector>
        <flowName>updateDuplicateOpportunities</flowName>
        <inputAssignments>
            <name>OpportunitiesList</name>
            <value>
                <elementReference>duplicateOpportunities</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>currentOpportunity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentOpportunitLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>currentOpportunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>duplicateOpportunities</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppIdCustomerPartNos</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunities</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opptyLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>optyLineitem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>Opportunity Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubmitDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>tempOppLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>tempOpprotunity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
