src/flows/extensionCreationFlagCheck.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_extensionRequestCreationfor_Approved_or_Rejected</name>
        <label>assign extensionRequestCreationfor Approved or Rejected</label>
        <locationX>905</locationX>
        <locationY>73</locationY>
        <assignmentItems>
            <assignToReference>extensionRequestCreationFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_extension_Request_Creation_to_true</name>
        <label>set extension Request Creation to true</label>
        <locationX>426</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>extensionRequestCreationFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>check_if_extension_Lines_are_empty_or_not</name>
        <label>check if extension Lines are empty or not</label>
        <locationX>168</locationX>
        <locationY>196</locationY>
        <defaultConnector>
            <targetReference>each_extension_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>extension lines are available</defaultConnectorLabel>
        <rules>
            <name>extension_lines_are_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oldExtensionLines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_extension_Request_Creation_to_true</targetReference>
            </connector>
            <label>extension lines are empty for loaner requestor</label>
        </rules>
    </decisions>
    <decisions>
        <name>extension_item_Line_status_check</name>
        <label>extension item Line status check</label>
        <locationX>649</locationX>
        <locationY>60</locationY>
        <defaultConnector>
            <targetReference>each_extension_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>extension Items are in Approved ,Rejected then create Extension Request</defaultConnectorLabel>
        <rules>
            <name>extension_Items_in_Draft_or_Approval_Pending_Stage</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>extensionLine.Line_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>extensionLine.Line_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>extensionLine.Line_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_extensionRequestCreationfor_Approved_or_Rejected</targetReference>
            </connector>
            <label>extension Items in Draft  or Approval Pending Stage</label>
        </rules>
    </decisions>
    <interviewLabel>extensionCreationFlagCheck {!$Flow.CurrentDateTime}</interviewLabel>
    <label>extensionCreationFlagCheck</label>
    <loops>
        <name>each_extension_Line</name>
        <label>each extension Line</label>
        <locationX>380</locationX>
        <locationY>74</locationY>
        <assignNextValueToReference>extensionLine</assignNextValueToReference>
        <collectionReference>oldExtensionLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>extension_item_Line_status_check</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Extension_Lines_for_Loaner_Requestor_Line</name>
        <label>get Extension Lines for Loaner Requestor Line</label>
        <locationX>23</locationX>
        <locationY>112</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_extension_Lines_are_empty_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loaner_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanerRequestorLine</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>extensionItemRecordType</elementReference>
            </value>
        </filters>
        <object>Loaner_Line__c</object>
        <outputReference>oldExtensionLines</outputReference>
        <queriedFields>Line_Status__c</queriedFields>
    </recordLookups>
    <startElementReference>get_Extension_Lines_for_Loaner_Requestor_Line</startElementReference>
    <status>Active</status>
    <variables>
        <description>extension Record Type Id</description>
        <name>extensionItemRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Loop Variable</description>
        <name>extensionLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
    <variables>
        <description>extension Creation Flag</description>
        <name>extensionRequestCreationFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Selected Loaner Line</description>
        <name>LoanerRequestorLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>check for Draft and Approved Pending extension Lines</description>
        <name>oldExtensionLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
</Flow>
