src/flows/FA_FV_SLAs_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>FA_SLA</name>
        <label>FA SLA</label>
        <locationX>992</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>FA_FVRecord.SLA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAFVMdt.FA_SLA__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_FA_FV</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FV_SLA</name>
        <label>FV SLA</label>
        <locationX>996</locationX>
        <locationY>183</locationY>
        <assignmentItems>
            <assignToReference>FA_FVRecord.SLA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAFVMdt.FV_SLA__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_FA_FV</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FailureAnalysis</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FA Analysis</stringValue>
        </value>
    </constants>
    <constants>
        <name>FailureVerification</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FV Analysis</stringValue>
        </value>
    </constants>
    <constants>
        <name>Huawei_Customer</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Huawei</stringValue>
        </value>
    </constants>
    <constants>
        <name>IPH</name>
        <dataType>String</dataType>
        <value>
            <stringValue>IPH</stringValue>
        </value>
    </constants>
    <constants>
        <name>Ipoh_mdt</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ipoh</stringValue>
        </value>
    </constants>
    <constants>
        <name>SNY_Value</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SNY</stringValue>
        </value>
    </constants>
    <constants>
        <name>SYD</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SYD</stringValue>
        </value>
    </constants>
    <constants>
        <name>SYD_Huawei</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SYD_Huawei</stringValue>
        </value>
    </constants>
    <constants>
        <name>SYD_Other</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SYD_Others</stringValue>
        </value>
    </constants>
    <constants>
        <name>TestConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Test123</stringValue>
        </value>
    </constants>
    <constants>
        <name>WXI_Value</name>
        <dataType>String</dataType>
        <value>
            <stringValue>WXI</stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_condition_for_SYD</name>
        <label>check condition for SYD</label>
        <locationX>417</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>Check_for_Ipoh</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other than SYD</defaultConnectorLabel>
        <rules>
            <name>SYDNEY_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FA_FVRecord.Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SYD</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FAFVMdt.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SYD</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Check_for_SYD</targetReference>
            </connector>
            <label>SYDNEY Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_FA_FV</name>
        <label>Check for FA/FV</label>
        <locationX>831</locationX>
        <locationY>49</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FA_FVRecord.FA_FV_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FailureAnalysis</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FA_SLA</targetReference>
            </connector>
            <label>FA</label>
        </rules>
        <rules>
            <name>FV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FA_FVRecord.FA_FV_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FailureVerification</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FV_SLA</targetReference>
            </connector>
            <label>FV</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Ipoh</name>
        <label>Check for Ipoh</label>
        <locationX>418</locationX>
        <locationY>345</locationY>
        <defaultConnector>
            <targetReference>Check_for_SNY</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Ipoh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FA_FVRecord.Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IPH</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FAFVMdt.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ipoh_mdt</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_FA_FV</targetReference>
            </connector>
            <label>Ipoh</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Others</name>
        <label>Check for Others</label>
        <locationX>209</locationX>
        <locationY>343</locationY>
        <defaultConnector>
            <targetReference>Metadata_Looping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SYD_Others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FA_FVRecord.Customer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Huawei_Customer</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FAFVMdt.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SYD_Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_FA_FV</targetReference>
            </connector>
            <label>SYD_Others</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_SNY</name>
        <label>Check for SNY</label>
        <locationX>627</locationX>
        <locationY>343</locationY>
        <defaultConnector>
            <targetReference>Check_for_WXI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SNY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FA_FVRecord.Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SNY_Value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FAFVMdt.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SNY_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_FA_FV</targetReference>
            </connector>
            <label>SNY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_WXI</name>
        <label>Check for WXI</label>
        <locationX>837</locationX>
        <locationY>343</locationY>
        <defaultConnector>
            <targetReference>Metadata_Looping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>WXI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FA_FVRecord.Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WXI_Value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FAFVMdt.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WXI_Value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_FA_FV</targetReference>
            </connector>
            <label>WXI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Check_for_SYD</name>
        <label>Customer Check for SYD</label>
        <locationX>623</locationX>
        <locationY>51</locationY>
        <defaultConnector>
            <targetReference>Check_for_Others</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Huawei</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FA_FVRecord.Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Huawei_Customer</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FAFVMdt.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SYD_Huawei</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_FA_FV</targetReference>
            </connector>
            <label>Huawei</label>
        </rules>
    </decisions>
    <interviewLabel>FA/FV SLAs Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FA/FV SLAs Flow</label>
    <loops>
        <name>Metadata_Looping</name>
        <label>Metadata Looping</label>
        <locationX>210</locationX>
        <locationY>53</locationY>
        <assignNextValueToReference>FAFVMdt</assignNextValueToReference>
        <collectionReference>FAFVSLAMdt</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_condition_for_SYD</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_FA_FV_Record_Detail</name>
        <label>Get FA/FV Record Detail</label>
        <locationX>47</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Metadata_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>FA_FV_Detail__c</object>
        <outputReference>FA_FVRecord</outputReference>
        <queriedFields>Site__c</queriedFields>
        <queriedFields>Customer__c</queriedFields>
        <queriedFields>SLA__c</queriedFields>
        <queriedFields>FA_FV_Record_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Metadata_Value</name>
        <label>Get Metadata Value</label>
        <locationX>41</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Metadata_Looping</targetReference>
        </connector>
        <object>FA_FV_SLAs__mdt</object>
        <outputReference>FAFVSLAMdt</outputReference>
        <queriedFields>FA_SLA__c</queriedFields>
        <queriedFields>FV_SLA__c</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_FA_FV</name>
        <label>Update FA/FV</label>
        <locationX>1010</locationX>
        <locationY>341</locationY>
        <inputReference>FA_FVRecord</inputReference>
    </recordUpdates>
    <startElementReference>Get_FA_FV_Record_Detail</startElementReference>
    <status>Active</status>
    <variables>
        <name>FA_FVRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FA_FV_Detail__c</objectType>
    </variables>
    <variables>
        <name>FAFVMdt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FA_FV_SLAs__mdt</objectType>
    </variables>
    <variables>
        <name>FAFVSLAMdt</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FA_FV_SLAs__mdt</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
