src/flows/LeadCountryCodeUpdates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AssignCode</name>
        <label>Assign Code</label>
        <locationX>1053</locationX>
        <locationY>151</locationY>
        <assignmentItems>
            <assignToReference>$Record.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCountryCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Whichfield</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDisplay</name>
        <label>Assign Display</label>
        <locationX>1102</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>$Record.Display_ISO_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDisplayCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Whichfield</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Whichfield</name>
        <label>Whichfield?</label>
        <locationX>811</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>UpdateRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Code_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Display_ISO_Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Display_ISO_Country__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Display_ISO_Country__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCountryCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCountryCode</targetReference>
            </connector>
            <label>Code Missing</label>
        </rules>
        <rules>
            <name>DisplayCountryMissing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lenCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Country</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDisplayCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCountryName</targetReference>
            </connector>
            <label>DisplayCountryMissing</label>
        </rules>
    </decisions>
    <formulas>
        <description>Checks to see the length of the country is 2 digits</description>
        <name>lenCountry</name>
        <dataType>Number</dataType>
        <expression>LEN({!$Record.Country})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>LeadCountryCodeUpdates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LeadCountryCodeUpdates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCountryCode</name>
        <label>GetCountryCode</label>
        <locationX>939</locationX>
        <locationY>127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Display_ISO_Country__c</elementReference>
            </value>
        </filters>
        <object>ISO_Country_List__mdt</object>
        <outputAssignments>
            <assignToReference>varCountryCode</assignToReference>
            <field>X2_Character_Country_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCountryName</name>
        <label>GetCountryName</label>
        <locationX>932</locationX>
        <locationY>554</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignDisplay</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>X2_Character_Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </filters>
        <object>ISO_Country_List__mdt</object>
        <outputAssignments>
            <assignToReference>varDisplayCountry</assignToReference>
            <field>Country_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecord</name>
        <label>UpdateRecord</label>
        <locationX>1191</locationX>
        <locationY>370</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>113</locationX>
        <locationY>291</locationY>
        <connector>
            <targetReference>Whichfield</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Display_ISO_Country__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Country</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDisplayCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
