src/flows/Loaner_Line_Item_Update_Status_as_Cancelled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>unlock_line_items_records</name>
        <label>unlock line items records</label>
        <locationX>587</locationX>
        <locationY>433</locationY>
        <actionName>SobjectCancellationUnlock</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Loaner_Details</targetReference>
        </connector>
        <inputParameters>
            <name>recordList</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Line_Item_to_Sobject_Collection</name>
        <label>Add Line Item to Sobject Collection</label>
        <locationX>786</locationX>
        <locationY>552</locationY>
        <assignmentItems>
            <assignToReference>varLineItemCollectionTobeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varLineItemSobj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Extension_Type_Read_Only_Record_Type</name>
        <label>Assign Extension Type Read Only Record Type</label>
        <locationX>186</locationX>
        <locationY>929</locationY>
        <assignmentItems>
            <assignToReference>varLoanerExtensionReadOnly</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varrecordTypeObj.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Loaner_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recordtypeId_when_recordType_is_Extension_Item</name>
        <label>Assign recordtypeId when recordType is Extension Item</label>
        <locationX>401</locationX>
        <locationY>787</locationY>
        <assignmentItems>
            <assignToReference>varExtensionItemRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varrecordTypeObj.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Loaner_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Line_Item_Status</name>
        <label>Change Line Item Status</label>
        <locationX>952</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>varLineItemSobj.Line_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Loaner_is_of_Loaner_Item_Type_Change_record_type_to_loaner_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Loaner_Status_as_Cancelled</name>
        <label>Change Loaner Status as Cancelled</label>
        <locationX>595</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>varLoanerObj.Status_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loaner_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_record_Type_to_Loaner_Item</name>
        <label>Change record Type to Loaner Item</label>
        <locationX>1174</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>varLineItemSobj.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLoanerItemRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Item_to_Sobject_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_recordType_Back_To_Loaner_Line_Entension</name>
        <label>Change recordType Back To Loaner Line Entension</label>
        <locationX>1138</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>varLineItemSobj.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varExtensionItemRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Item_to_Sobject_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>recordTypeId_when_record_type_is_Loaner_Item</name>
        <label>recordTypeId when record type is Loaner Item</label>
        <locationX>402</locationX>
        <locationY>902</locationY>
        <assignmentItems>
            <assignToReference>varLoanerItemRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varrecordTypeObj.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Loaner_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>When_record_Type_Loaner_Item_Pending_Sales_Record_Type</name>
        <label>When record Type Loaner Item Pending Sales Record Type</label>
        <locationX>398</locationX>
        <locationY>672</locationY>
        <assignmentItems>
            <assignToReference>varLoanerItemPendingSalesRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varrecordTypeObj.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Loaner_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>when_recordType_is_Loaner_Item_Read_Only</name>
        <label>when recordType is Loaner Item Read Only</label>
        <locationX>393</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>varLoanerItemReadOnlyRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varrecordTypeObj.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Loaner_Line</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_record_Type_value_for_Loaner_Lines</name>
        <label>Check record Type value for Loaner Lines</label>
        <locationX>185</locationX>
        <locationY>793</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Loaner_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>When_recordType_Is_Loaner_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varrecordTypeObj.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loaner_Item</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recordTypeId_when_record_type_is_Loaner_Item</targetReference>
            </connector>
            <label>When recordType Is Loaner_Item</label>
        </rules>
        <rules>
            <name>when_record_Type_is_Loaner_Item_Pending_Sales_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varrecordTypeObj.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loaner_Item_Pending_Sales_Record_Type</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_record_Type_Loaner_Item_Pending_Sales_Record_Type</targetReference>
            </connector>
            <label>when record Type is Loaner Item Pending Sales Record Type</label>
        </rules>
        <rules>
            <name>when_record_type_is_Loaner_Item_Read_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varrecordTypeObj.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loaner_Item_Read_Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>when_recordType_is_Loaner_Item_Read_Only</targetReference>
            </connector>
            <label>when record type is Loaner Item Read Only</label>
        </rules>
        <rules>
            <name>When_record_type_is_Extension_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varrecordTypeObj.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extension_Item</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_recordtypeId_when_recordType_is_Extension_Item</targetReference>
            </connector>
            <label>When record type is Extension Item</label>
        </rules>
        <rules>
            <name>When_record_type_is_Extension_Read_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varrecordTypeObj.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extension_Read_Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Extension_Type_Read_Only_Record_Type</targetReference>
            </connector>
            <label>When record type is Extension Read Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Loaner_is_of_Loaner_Item_Type_Change_record_type_to_loaner_Item</name>
        <label>If Loaner is of Loaner Item Type Change record type to loaner Item</label>
        <locationX>783</locationX>
        <locationY>415</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_If_Loaner_Line_Item_is_of_Loaner_Item_record_type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varLineItemSobj.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varLoanerItemPendingSalesRecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLineItemSobj.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varLoanerItemRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLineItemSobj.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varLoanerItemReadOnlyRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_record_Type_to_Loaner_Item</targetReference>
            </connector>
            <label>Check If Loaner Line Item is of Loaner Item record type</label>
        </rules>
        <rules>
            <name>When_line_item_is_extension_type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varLineItemSobj.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varExtensionItemRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLineItemSobj.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varLoanerExtensionReadOnly</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_recordType_Back_To_Loaner_Line_Entension</targetReference>
            </connector>
            <label>When line item is extension type</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Status_is_Draft_Approval_Pending_then_only_cancel_records</name>
        <label>If Status is Draft,Approval Pending then only cancel records</label>
        <locationX>180</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>Loaner_status_not_match_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Status_is_Draft_ApprovalPending_then_only_cancel_records</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varLoanerObj.Status_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLoanerObj.Status_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLoanerObj.Status_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Loaner_Line_record_Type</targetReference>
            </connector>
            <label>If Status is Draft,ApprovalPending then only cancel records</label>
        </rules>
    </decisions>
    <interviewLabel>{!recordId}</interviewLabel>
    <label>Loaner Line Item Update Status as Cancelled</label>
    <loops>
        <name>Iterate_Over_Loaner_Line</name>
        <label>Iterate Over Loaner Line</label>
        <locationX>180</locationX>
        <locationY>636</locationY>
        <assignNextValueToReference>varrecordTypeObj</assignNextValueToReference>
        <collectionReference>varLoanerRecordTypeList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_record_Type_value_for_Loaner_Lines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Line_Item_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Line_Items</name>
        <label>Loop through Line Items</label>
        <locationX>770</locationX>
        <locationY>244</locationY>
        <assignNextValueToReference>varLineItemSobj</assignNextValueToReference>
        <collectionReference>varLineItemCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Line_Item_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>unlock_line_items_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Loaner_Line_record_Type</name>
        <label>Get All Loaner Line record Type</label>
        <locationX>180</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Loaner_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loaner_Line__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>varLoanerRecordTypeList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Line_Item_Records</name>
        <label>get Line Item Records</label>
        <locationX>560</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loaner__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loaner_Line__c</object>
        <outputReference>varLineItemCollection</outputReference>
        <queriedFields>Line_Status__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Loaner_Header_Record</name>
        <label>Get Loaner Header Record</label>
        <locationX>136</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Status_is_Draft_Approval_Pending_then_only_cancel_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loaner__c</object>
        <outputReference>varLoanerObj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status_Approval__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loaner_Details</name>
        <label>Update Loaner Details</label>
        <locationX>591</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Change_Loaner_Status_as_Cancelled</targetReference>
        </connector>
        <inputReference>varLineItemCollectionTobeUpdated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loaner_Record</name>
        <label>Update Loaner Record</label>
        <locationX>598</locationX>
        <locationY>836</locationY>
        <connector>
            <targetReference>CancellationFlowMessage</targetReference>
        </connector>
        <inputReference>varLoanerObj</inputReference>
    </recordUpdates>
    <screens>
        <name>CancellationFlowMessage</name>
        <label>CancellationFlowMessage</label>
        <locationX>600</locationX>
        <locationY>945</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CancellationMessage</name>
            <fieldText>&lt;p&gt;Approval is cancelled for Loaner and Line Items.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Loaner_status_not_match_Message</name>
        <label>Loaner status not match Message</label>
        <locationX>391</locationX>
        <locationY>382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LoanerStatusNotMatch</name>
            <fieldText>Loaner can not be cancelled in this status</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Loaner_Header_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varExtensionItemRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLineItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
    <variables>
        <name>varLineItemCollectionTobeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
    <variables>
        <name>varLineItemSobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Loaner_Line__c</objectType>
    </variables>
    <variables>
        <name>varLoanerExtensionReadOnly</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLoanerItemPendingSalesRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLoanerItemReadOnlyRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLoanerItemRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLoanerObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Loaner__c</objectType>
    </variables>
    <variables>
        <name>varLoanerRecordTypeList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>varrecordTypeObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
