src/flows/One_II_VI_Opportunity_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignAccountId</name>
        <label>AssignAccountId</label>
        <locationX>2638</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>rvarOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCustomerAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.Global_Ultimate_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGlobalAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccountInformation</name>
        <label>AssignAccountInformation</label>
        <locationX>967</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>varCustomerAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGlobalAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.Global_Ultimate_Parent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WhichLegacyOrg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccountInformation_0</name>
        <label>AssignAccountInformation</label>
        <locationX>1231</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>varGlobalAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WhichLegacyOrg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignGlobalAccount</name>
        <label>assignGlobalAccount</label>
        <locationX>2243</locationX>
        <locationY>668</locationY>
        <assignmentItems>
            <assignToReference>varGlobalAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getGlobalAccounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getGlobalAccounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.Global_Ultimate_Parent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getGlobalAccounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCustomerAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignGlobalAccount_0</name>
        <label>assignGlobalAccount</label>
        <locationX>2124</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>varGlobalAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarGlobalAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarGlobalAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.Global_Ultimate_Parent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarGlobalAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCustomerAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignGlobalAccount_0_0</name>
        <label>assignGlobalAccount</label>
        <locationX>2128</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>varGlobalAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarGlobalAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarGlobalAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.Global_Ultimate_Parent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarGlobalAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCustomerAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGlobalParentID</name>
        <label>AssignGlobalParentID</label>
        <locationX>872</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>varGlobalAccountRecTId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOpptyId</name>
        <label>assignOpptyId</label>
        <locationX>2764</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignStandardOpptyRectId</name>
        <label>AssignStandardOpptyRectId</label>
        <locationX>680</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>varStandardOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignVarCustomer</name>
        <label>AssignVarCustomer</label>
        <locationX>2513</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>varCustomerAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rvarCustomerAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Yes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C26_Assign</name>
        <label>C26 Assign</label>
        <locationX>1651</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26Customer_Top_Level_Account_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.Group_Level_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26Region</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.Display_Billing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26Display_Billing_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.Display_Shipping_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26Display_Shipping_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26GlobalBillingAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26GlobalBillingAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26GlobalBillingAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26GlobalBillingAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26Which_Type_of_Account_To_Create</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26GlobalBillingAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26GlobalBillingAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26GlobalBillingAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26GlobalBillingAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26GlobalBillingAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26GlobalBillingAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26Global_Parent_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGlobalAccountRecTId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.Business_Segment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26Business_Segment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.Group_Level_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26Region</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26Opportunity_Record_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26Close_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26Opportunity_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26Opportunity_Currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateOppty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>c26Create_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createCustomer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26Create_Customer_Top_Level_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validating</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateGlobalAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CustomerAccountRecTId</name>
        <label>AssignCustomerAccountRecTId</label>
        <locationX>467</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>varCustomerAccountRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Finisar_Assign</name>
        <label>Finisar Assign</label>
        <locationX>1645</locationX>
        <locationY>190</locationY>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinCustomer_Top_Level_Account_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.Group_Level_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinRegion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.Display_Billing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinDisplay_Billing_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.Display_Shipping_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinDisplay_Shipping_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinGlobalBillingAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C26GlobalBillingAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinGlobalBillingAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinGlobalBillingAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinWhich_Type_of_Account_To_Create</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinGlobalBillingAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinGlobalBillingAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinGlobalBillingAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinGlobalBillingAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinGlobalBillingAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinGlobalBillingAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinGlobal_Parent_Account_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGlobalAccountRecTId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.Group_Level_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinRegion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinOpportunity_Record_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinOpportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinClose_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinOpportunity_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinOpportunity_Currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateOppty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinCreate_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createCustomer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinCreate_Customer_Top_Level_Account_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validating</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateGlobalAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Marlow_Assign</name>
        <label>Marlow Assign</label>
        <locationX>1646</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarCustomer_Top_Level_Account_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.Group_Level_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarRegion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.Display_Billing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarDisplay_Billing_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.Display_Shipping_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarDisplay_Shipping_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarGlobalBillingAddress_0_0.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarGlobalBillingAddress_0_0.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarGlobalBillingAddress_0_0.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarGlobalBillingAddress_0_0.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarWhich_Type_of_Account_To_Create</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarGlobalBillingAddress_0_0.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarGlobalBillingAddress_0_0.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarGlobalBillingAddress_0_0.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarGlobalBillingAddress_0_0.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarGlobalBillingAddress_0_0.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarGlobalBillingAddress_0_0.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarGlobal_Parent_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGlobalAccountRecTId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarGlobalAccount.Group_Level_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarRegion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarOpportunity_Record_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarOpportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarClose_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarOpportunity_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.ITAR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarITAR_picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.REACH__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarREACH_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.Project_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarProject_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.Sales_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarSales_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarCurrency_Selector</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>createCustomer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarlCreate_Customer_Top_Level_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateOppty</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarCreate_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.Qual_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarCustomer_Qual_Req_d</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validating</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rvarCustomerAccount.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateGlobalAccount</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AccountRecT</name>
        <label>AccountRecT</label>
        <locationX>1060</locationX>
        <locationY>554</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Global_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Global_Parent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccountInformation_0</targetReference>
            </connector>
            <label>Global Parent</label>
        </rules>
        <rules>
            <name>Customer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccount.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Party_Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccount.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>External_Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccountInformation</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Opportunity_Yes</name>
        <label>Create Opportunity</label>
        <locationX>2506</locationX>
        <locationY>181</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Opportunity</name>
            <conditionLogic>1 OR (2 and 3)</conditionLogic>
            <conditions>
                <leftValueReference>CreateOppty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCustomerAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>createCustomer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccountId</targetReference>
            </connector>
            <label>Yes Create Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateCustomerAccount</name>
        <label>Create Customer Account?</label>
        <locationX>2330</locationX>
        <locationY>180</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity_Yes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCreateCustomerAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGlobalAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvarGlobalAccount.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCustomerAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>createCustomer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Customer_Account1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateGlobalAccount</name>
        <label>CreateGlobalAccount?</label>
        <locationX>1939</locationX>
        <locationY>193</locationY>
        <defaultConnector>
            <targetReference>CreateCustomerAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCreateGlobalAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGlobalAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rvarGlobalAccount.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getGlobalAccounts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Launched_from_Global</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGlobalAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCustomerAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>createCustomer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignGlobalAccount_0_0</targetReference>
            </connector>
            <label>No-Launched from Global</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found</name>
        <label>Found?</label>
        <locationX>1933</locationX>
        <locationY>504</locationY>
        <defaultConnector>
            <targetReference>Create_Global_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesFoundGlobalAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getGlobalAccounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GlobalParentExists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>varIDPopulated</name>
        <label>varIDPopulated?</label>
        <locationX>1057</locationX>
        <locationY>184</locationY>
        <defaultConnector>
            <targetReference>WhichLegacyOrg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichLegacyOrg</name>
        <label>WhichLegacyOrg</label>
        <locationX>1223</locationX>
        <locationY>179</locationY>
        <defaultConnector>
            <targetReference>Finisar_Initial_Creation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Legacy_Corp_II_VI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Legacy_Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corp II-VI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Corp_II_VI_Initial_Creation_Screen</targetReference>
            </connector>
            <label>Legacy Corp II-VI</label>
        </rules>
        <rules>
            <name>Legacy_Finisar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Legacy_Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finisar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finisar_Initial_Creation_Screen</targetReference>
            </connector>
            <label>Legacy Finisar</label>
        </rules>
        <rules>
            <name>Legacy_Marlow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Legacy_Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marlow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marlow_Initial_Creation_Screen</targetReference>
            </connector>
            <label>Legacy Marlow</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichRecT</name>
        <label>WhichRecT</label>
        <locationX>663</locationX>
        <locationY>344</locationY>
        <defaultConnector>
            <targetReference>LoopRecT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CustomerAccountRecT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecT.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerAccountRecTId</targetReference>
            </connector>
            <label>Customer Account</label>
        </rules>
        <rules>
            <name>GlobalParentRecT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecT.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Global_Parent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignGlobalParentID</targetReference>
            </connector>
            <label>GlobalParentRecT</label>
        </rules>
        <rules>
            <name>OpportunityRecTPlaceHolder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecT.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customized_Standard_Part</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignStandardOpptyRectId</targetReference>
            </connector>
            <label>OpportunityRecTPlaceHolder</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountRecordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Party_Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BusinessSegment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_Segment__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>countries</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Display_Billing_Country__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Currency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IsoCode</picklistField>
        <picklistObject>CurrencyType</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrencyV2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CustomerQualReq</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Qual_Required__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ITAR</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITAR__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MarlowBU</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Marlow_Product_BU__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityRecordType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityStages</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>REACH</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>REACH__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RegionPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Group_Level_Region__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RegionV2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalesType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sales_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>AccountId</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEFT({!recordId},3)=&quot;001&quot;, True, False)</expression>
    </formulas>
    <formulas>
        <name>DefaultOpptyRT</name>
        <dataType>String</dataType>
        <expression>IF(
TEXT({!$User.Legacy_Company__c})=&quot;Finisar&quot;, &quot;Standard Part (Customizable)&quot;, 
IF(
TEXT({!$User.Legacy_Company__c})=&quot;Marlow&quot;, &quot;Custom Part&quot;, 
&quot;Standard Part (Customizable)&quot;
))</expression>
    </formulas>
    <formulas>
        <name>GlobalParentKeySearch</name>
        <dataType>String</dataType>
        <expression>{!rvarGlobalAccount.Name}+&quot;-Global Parent&quot;</expression>
    </formulas>
    <interviewLabel>One II-VI Opportunity Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prospect Account Creation</label>
    <loops>
        <name>LoopRecT</name>
        <label>LoopRecT</label>
        <locationX>672</locationX>
        <locationY>179</locationY>
        <collectionReference>getRecT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>WhichRecT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>varIDPopulated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Customer_Account1</name>
        <label>Create Customer Account</label>
        <locationX>2463</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>AssignVarCustomer</targetReference>
        </connector>
        <inputReference>rvarCustomerAccount</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Global_Account</name>
        <label>Create Global Account</label>
        <locationX>2128</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>assignGlobalAccount_0</targetReference>
        </connector>
        <inputReference>rvarGlobalAccount</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateOpportunity</name>
        <label>CreateOpportunity</label>
        <locationX>2756</locationX>
        <locationY>413</locationY>
        <connector>
            <targetReference>assignOpptyId</targetReference>
        </connector>
        <inputReference>rvarOpportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>1068</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountRecT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getGlobalAccounts</name>
        <label>getGlobalAccounts</label>
        <locationX>1943</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Global_Parent_Unique_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GlobalParentKeySearch</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGlobalAccountRecTId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecT</name>
        <label>getRecT</label>
        <locationX>517</locationX>
        <locationY>171</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopRecT</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Corp_II_VI_Initial_Creation_Screen</name>
        <label>Corp II-VI Initial Creation Screen</label>
        <locationX>1475</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>C26_Assign</targetReference>
        </connector>
        <fields>
            <name>GreetMessageEntry</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Now Creating Opportunity For This Account: {!getAccount.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AccountId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Corp_II_VI_Initial_Creation_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Corp_II_VI_Initial_Creation_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>C26Global_Parent_Account</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getAccount.Name</elementReference>
                    </defaultValue>
                    <fieldText>Global Parent Account</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>C26Display_Shipping_Country</name>
                    <choiceReferences>countries</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Display Shipping Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>C26Display_Billing_Country</name>
                    <choiceReferences>countries</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Display Billing Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>C26GlobalBillingAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Global Billing Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>getAccount.BillingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>getAccount.BillingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>getAccount.BillingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>getAccount.BillingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>getAccount.BillingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Corp_II_VI_Initial_Creation_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>C26Region</name>
                    <choiceReferences>RegionPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>C26Create_Customer_Top_Level_Account</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Create Customer/Top Level Account?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>C26Customer_Top_Level_Account_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getAccount.Name</elementReference>
                    </defaultValue>
                    <fieldText>Customer/Top Level Account Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>C26Create_Customer_Top_Level_Account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>C26Business_Segment</name>
                    <choiceReferences>BusinessSegment</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Business Segment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>C26Create_Customer_Top_Level_Account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>C26Which_Type_of_Account_To_Create</name>
                    <choiceReferences>AccountRecordTypes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Which Type of Account To Create?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>C26Create_Customer_Top_Level_Account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>c26Create_Opportunity</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Create Opportunity?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 3) AND 2</conditionLogic>
                <conditions>
                    <leftValueReference>varGlobalAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varCustomerAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varGlobalAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Corp_II_VI_Initial_Creation_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Corp_II_VI_Initial_Creation_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Corp_II_VI_Initial_Creation_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCustomerAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varGlobalAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>C26Create_Customer_Top_Level_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Corp_II_VI_Initial_Creation_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Corp_II_VI_Initial_Creation_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Corp_II_VI_Initial_Creation_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Corp_II_VI_Initial_Creation_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>C26Opportunity_Record_Type</name>
                    <choiceReferences>OpportunityRecordType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DefaultOpptyRT</elementReference>
                    </defaultValue>
                    <fieldText>Opportunity Record Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>C26Opportunity_Currency</name>
                    <choiceReferences>CurrencyV2</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Opportunity Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>C26Close_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Corp_II_VI_Initial_Creation_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>C26Opportunity_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>C26Opportunity_Amount</name>
                    <dataType>Number</dataType>
                    <fieldText>Opportunity Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>varCustomerAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>c26Create_Opportunity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finisar_Initial_Creation_Screen</name>
        <label>Finisar Initial Creation Screen</label>
        <locationX>1481</locationX>
        <locationY>191</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Finisar_Assign</targetReference>
        </connector>
        <fields>
            <name>GreetMessageEntry_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Now Creating Opportunity For This Account: {!getAccount.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AccountId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Finisar_Initial_Creation_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Finisar_Initial_Creation_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinGlobal_Parent_Account_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getAccount.Name</elementReference>
                    </defaultValue>
                    <fieldText>Global Parent Account</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FinDisplay_Shipping_Country</name>
                    <choiceReferences>countries</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>None</elementReference>
                    </defaultValue>
                    <fieldText>Display Shipping Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FinDisplay_Billing_Country</name>
                    <choiceReferences>countries</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>None</elementReference>
                    </defaultValue>
                    <fieldText>Display Billing Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FinGlobalBillingAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Global Billing Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>getAccount.BillingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>getAccount.BillingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>getAccount.BillingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>getAccount.BillingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>getAccount.BillingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Finisar_Initial_Creation_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinRegion</name>
                    <choiceReferences>RegionPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FinCreate_Customer_Top_Level_Account_0</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Create Customer/Top Level Account?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FinCustomer_Top_Level_Account_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getAccount.Name</elementReference>
                    </defaultValue>
                    <fieldText>Customer/Top Level Account Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>FinCreate_Customer_Top_Level_Account_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FinWhich_Type_of_Account_To_Create</name>
                    <choiceReferences>AccountRecordTypes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Which Type of Account To Create?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>FinCreate_Customer_Top_Level_Account_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FinCreate_Opportunity</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Create Opportunity?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 3) AND 2</conditionLogic>
                <conditions>
                    <leftValueReference>varGlobalAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varCustomerAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varGlobalAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Finisar_Initial_Creation_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Finisar_Initial_Creation_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Finisar_Initial_Creation_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCustomerAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varGlobalAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>C26Create_Customer_Top_Level_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Finisar_Initial_Creation_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Finisar_Initial_Creation_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Finisar_Initial_Creation_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Finisar_Initial_Creation_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinOpportunity_Record_Type</name>
                    <choiceReferences>OpportunityRecordType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DefaultOpptyRT</elementReference>
                    </defaultValue>
                    <fieldText>Opportunity Record Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FinOpportunity_Currency</name>
                    <choiceReferences>Currency</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>USD</stringValue>
                    </defaultValue>
                    <fieldText>Opportunity Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FinClose_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Finisar_Initial_Creation_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinOpportunity_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FinOpportunity_Amount</name>
                    <dataType>Number</dataType>
                    <fieldText>Opportunity Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>FinCreate_Opportunity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varCustomerAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GlobalParentExists</name>
        <label>GlobalParentExists</label>
        <locationX>1938</locationX>
        <locationY>669</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignGlobalAccount</targetReference>
        </connector>
        <fields>
            <name>ExistsMessage</name>
            <fieldText>&lt;p&gt;It looks like a global parent account already exist with that name. We&apos;ll be creating the Customer Account and Opportunity and related these records to the &lt;a href=&quot;/{!getGlobalAccounts.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;existing global parent account record&lt;/a&gt;. Click Next to proceed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Marlow_Initial_Creation_Screen</name>
        <label>Marlow Initial Creation Screen</label>
        <locationX>1482</locationX>
        <locationY>356</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Marlow_Assign</targetReference>
        </connector>
        <fields>
            <name>GreetMessageEntry_0_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Now Creating Opportunity For This Account: {!getAccount.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AccountId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Marlow_Initial_Creation_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Marlow_Initial_Creation_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MarGlobal_Parent_Account</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getAccount.Name</elementReference>
                    </defaultValue>
                    <fieldText>Global Parent Account</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MarDisplay_Shipping_Country</name>
                    <choiceReferences>countries</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Display Shipping Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MarDisplay_Billing_Country</name>
                    <choiceReferences>countries</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Display Billing Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>MarGlobalBillingAddress_0_0</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Global Billing Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>getAccount.BillingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>getAccount.BillingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>getAccount.BillingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>getAccount.BillingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>getAccount.BillingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Marlow_Initial_Creation_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MarRegion</name>
                    <choiceReferences>RegionPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MarlCreate_Customer_Top_Level_Account</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Create Customer/Top Level Account?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MarCustomer_Top_Level_Account_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getAccount.Name</elementReference>
                    </defaultValue>
                    <fieldText>Customer/Top Level Account Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>MarlCreate_Customer_Top_Level_Account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>MarWhich_Type_of_Account_To_Create</name>
                    <choiceReferences>AccountRecordTypes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Which Type of Account To Create?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>MarlCreate_Customer_Top_Level_Account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>MarCreate_Opportunity</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Create Opportunity?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 3) AND 2</conditionLogic>
                <conditions>
                    <leftValueReference>varGlobalAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varCustomerAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varGlobalAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Marlow_Initial_Creation_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Marlow_Initial_Creation_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Marlow_Initial_Creation_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCustomerAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varGlobalAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>C26Create_Customer_Top_Level_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Marlow_Initial_Creation_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Marlow_Initial_Creation_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Marlow_Initial_Creation_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Marlow_Initial_Creation_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MarOpportunity_Record_Type</name>
                    <choiceReferences>OpportunityRecordType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DefaultOpptyRT</elementReference>
                    </defaultValue>
                    <fieldText>Opportunity Record Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MarCurrency_Selector</name>
                    <choiceReferences>CurrencyV2</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>USD</stringValue>
                    </defaultValue>
                    <fieldText>Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MarCustomer_Qual_Req_d</name>
                    <choiceReferences>CustomerQualReq</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Customer Qual Req&apos;d?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MarMarlow_BU</name>
                    <choiceReferences>MarlowBU</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Marlow BU</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MarSales_Type</name>
                    <choiceReferences>SalesType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sales Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MarREACH_Picklist</name>
                    <choiceReferences>REACH</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>REACH</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Marlow_Initial_Creation_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MarOpportunity_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MarOpportunity_Amount</name>
                    <dataType>Number</dataType>
                    <fieldText>Opportunity Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>MarClose_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MarProject_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Project Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MarITAR_picklist</name>
                    <choiceReferences>ITAR</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>ITAR</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>MarCreate_Opportunity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varCustomerAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>2755</locationX>
        <locationY>179</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Records successfully created!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Global Account Record: &lt;a href=&quot;/{!varGlobalAccountId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!rvarGlobalAccount.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Customer/Top Level Account Record: &lt;a href=&quot;/{!varCustomerAccountId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!rvarCustomerAccount.Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Opportunity Record: &lt;a href=&quot;/{!varOpportunityId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!rvarOpportunity.Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>151</locationY>
        <connector>
            <targetReference>getRecT</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>createCustomer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateOppty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rvarCustomerAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rvarGlobalAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>rvarOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varCustomerAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCustomerAccountRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGlobalAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGlobalAccountRecTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStandardOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
