src/flows/One_II_VI_Opportunity_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AssignAccountInformation</name>
        <label>AssignAccountInformation</label>
        <locationX>842</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>varCustomerAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Creation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccountInformation_0</name>
        <label>AssignAccountInformation</label>
        <locationX>1268</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>varGlobalAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_Creation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignGlobalParentID</name>
        <label>AssignGlobalParentID</label>
        <locationX>873</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>varGlobalAccountRecTId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignStandardOpptyRectId</name>
        <label>AssignStandardOpptyRectId</label>
        <locationX>681</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>varStandardOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CustomerAccountRecTId</name>
        <label>AssignCustomerAccountRecTId</label>
        <locationX>468</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>varCustomerAccountRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecT.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AccountRecT</name>
        <label>AccountRecT</label>
        <locationX>1061</locationX>
        <locationY>437</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Global_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Global_Parent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccountInformation_0</targetReference>
            </connector>
            <label>Global Parent</label>
        </rules>
        <rules>
            <name>Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccount.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccountInformation</targetReference>
            </connector>
            <label>Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateCustomerAccount</name>
        <label>Create Customer Account?</label>
        <locationX>1788</locationX>
        <locationY>70</locationY>
        <defaultConnector>
            <targetReference>CreateOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCreateCustomerAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGlobalAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCustomerAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Which_Type_of_Account_To_Create</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Customer_Account1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateGlobalAccount</name>
        <label>CreateGlobalAccount?</label>
        <locationX>1586</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>CreateCustomerAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCreateGlobalAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGlobalAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Global_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>varIDPopulated</name>
        <label>varIDPopulated?</label>
        <locationX>1058</locationX>
        <locationY>67</locationY>
        <defaultConnector>
            <targetReference>Initial_Creation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichRecT</name>
        <label>WhichRecT</label>
        <locationX>664</locationX>
        <locationY>228</locationY>
        <defaultConnector>
            <targetReference>LoopRecT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CustomerAccountRecT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecT.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CustomerAccountRecTId</targetReference>
            </connector>
            <label>Customer Account</label>
        </rules>
        <rules>
            <name>GlobalParentRecT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecT.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Global_Parent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignGlobalParentID</targetReference>
            </connector>
            <label>GlobalParentRecT</label>
        </rules>
        <rules>
            <name>OpportunityRecTPlaceHolder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecT.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customized_Standard_Part</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignStandardOpptyRectId</targetReference>
            </connector>
            <label>OpportunityRecTPlaceHolder</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountRecordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Party_Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>countries</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Display_Billing_Country__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityRecordType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityStages</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RegionPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Group_Level_Region__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>AccountId</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEFT({!recordId},3)=&quot;001&quot;, True, False)</expression>
    </formulas>
    <interviewLabel>One II-VI Opportunity Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>One II-VI Opportunity Creation Flow</label>
    <loops>
        <name>LoopRecT</name>
        <label>LoopRecT</label>
        <locationX>673</locationX>
        <locationY>62</locationY>
        <collectionReference>getRecT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>WhichRecT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>varIDPopulated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Customer_Account1</name>
        <label>Create Customer Account</label>
        <locationX>1800</locationX>
        <locationY>298</locationY>
        <assignRecordIdToReference>varCustomerAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>CreateOpportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>GlobalBillingAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>GlobalBillingAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>GlobalBillingAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>GlobalBillingAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>GlobalBillingAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Display_Billing_Country__c</field>
            <value>
                <elementReference>Display_Billing_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Display_Shipping_Country__c</field>
            <value>
                <elementReference>Display_Shipping_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_Level_Region__c</field>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Customer_Top_Level_Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>varGlobalAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Which_Type_of_Account_To_Create</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Global_Account</name>
        <label>Create Global Account</label>
        <locationX>1593</locationX>
        <locationY>288</locationY>
        <assignRecordIdToReference>varGlobalAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>CreateCustomerAccount</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>GlobalBillingAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>GlobalBillingAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>GlobalBillingAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>GlobalBillingAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>GlobalBillingAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Display_Billing_Country__c</field>
            <value>
                <elementReference>Display_Billing_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Display_Shipping_Country__c</field>
            <value>
                <elementReference>Display_Shipping_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_Level_Region__c</field>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varGlobalAccountRecTId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>CreateOpportunity</name>
        <label>CreateOpportunity</label>
        <locationX>1987</locationX>
        <locationY>71</locationY>
        <assignRecordIdToReference>varOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varCustomerAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Opportunity_Record_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualifying</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>1069</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountRecT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecT</name>
        <label>getRecT</label>
        <locationX>517</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopRecT</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Initial_Creation_Screen</name>
        <label>Initial Creation Screen</label>
        <locationX>1416</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateGlobalAccount</targetReference>
        </connector>
        <fields>
            <name>GreetMessageEntry</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Now Creating Opportunity For This Account: {!getAccount.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AccountId</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Initial_Creation_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Initial_Creation_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getAccount.Name</elementReference>
                    </defaultValue>
                    <fieldText>Account Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Display_Shipping_Country</name>
                    <choiceReferences>countries</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Display Shipping Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Display_Billing_Country</name>
                    <choiceReferences>countries</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Display Billing Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>GlobalBillingAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Global Billing Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>getAccount.BillingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>getAccount.BillingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>getAccount.BillingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>getAccount.BillingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>getAccount.BillingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Initial_Creation_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Region</name>
                    <choiceReferences>RegionPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Region</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Create_Customer_Top_Level_Account</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Create Customer/Top Level Account?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Customer_Top_Level_Account_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Customer/Top Level Account Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Create_Customer_Top_Level_Account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Which_Type_of_Account_To_Create</name>
                    <choiceReferences>AccountRecordTypes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Which Type of Account To Create?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Create_Customer_Top_Level_Account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Create_Opportunity</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Create Opportunity?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 3) AND 2</conditionLogic>
                <conditions>
                    <leftValueReference>varGlobalAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varCustomerAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varGlobalAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Initial_Creation_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Initial_Creation_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Initial_Creation_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varCustomerAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varGlobalAccountId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Create_Customer_Top_Level_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Initial_Creation_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Initial_Creation_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Initial_Creation_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Initial_Creation_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opportunity_Record_Type</name>
                    <choiceReferences>OpportunityRecordType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Opportunity Record Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Opportunity_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Initial_Creation_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opportunity_Amount</name>
                    <dataType>Number</dataType>
                    <fieldText>Opportunity Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Close_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Opportunity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>2160</locationX>
        <locationY>71</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Records successfully created!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Global Account Record: &lt;a href=&quot;/{!varGlobalAccountId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Account_Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Customer/Top Level Account Record: &lt;a href=&quot;/{!varCustomerAccountId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Customer_Top_Level_Account_Name}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Opportunity Record: &lt;a href=&quot;/{!varOpportunityId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Opportunity_Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>35</locationY>
        <connector>
            <targetReference>getRecT</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCustomerAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCustomerAccountRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGlobalAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGlobalAccountRecTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStandardOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
