src/flows/OpptyLinetoQuoteLineCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>QuoteDetailAssignment</name>
        <label>QuoteDetailAssignment</label>
        <locationX>260</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyLine.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyLine.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.Disti_Resale_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DistiPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItem.Target_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyLine.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuoteItemCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuoteItemCollection</name>
        <label>QuoteItemCollection</label>
        <locationX>420</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>QuoteCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpptyLoop</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DistiPrice</name>
        <dataType>Number</dataType>
    </constants>
    <interviewLabel>OpptyLinetoQuoteLineCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpptyLinetoQuoteLineCreation</label>
    <loops>
        <name>OpptyLoop</name>
        <label>OpptyLoop</label>
        <locationX>258</locationX>
        <locationY>195</locationY>
        <assignNextValueToReference>OpptyLine</assignNextValueToReference>
        <collectionReference>OpptyCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>QuoteDetailAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateQuoteLineItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateQuoteLineItems</name>
        <label>CreateQuoteLineItems</label>
        <locationX>547</locationX>
        <locationY>192</locationY>
        <inputReference>QuoteCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Opptylookup</name>
        <label>Opptylookup</label>
        <locationX>257</locationX>
        <locationY>72</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpptyLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OpptyCollection</outputReference>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <startElementReference>Opptylookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>OpptyCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpptyLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote_Item__c</objectType>
    </variables>
    <variables>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote_Item__c</objectType>
    </variables>
</Flow>
