src/flows/OrderLine_Record_Triggered_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_OrderLine_Record</name>
        <label>Set OrderLine Record</label>
        <locationX>725</locationX>
        <locationY>751</locationY>
        <assignmentItems>
            <assignToReference>orderLineRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OrderLineShare_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Account_and_it_s_Global_Ultimate_parent_are_not_null</name>
        <label>Check if Account and it&apos;s Global Ultimate parent are not null</label>
        <locationX>641</locationX>
        <locationY>534</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_and_it_s_Global_Ultimate_parent_are_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Name__r.Global_Ultimate_Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Name__r.Global_Ultimate_Parent__r.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OrderLine_Record</targetReference>
            </connector>
            <label>Account and it&apos;s Global Ultimate parent are not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Account_Or_Owner_is_changed</name>
        <label>Check if Account Or Owner is changed</label>
        <locationX>865</locationX>
        <locationY>189</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Name__r.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Previous_Account</targetReference>
            </connector>
            <label>Account is changed</label>
        </rules>
        <rules>
            <name>Owner_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Account_and_it_s_Global_Ultimate_parent_are_not_null</targetReference>
            </connector>
            <label>Owner is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_orderline_comes_from_integration</name>
        <label>Check if orderline comes from integration</label>
        <locationX>396</locationX>
        <locationY>298</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OrderLine_not_from_integration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Integration_Flag__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_whether_record_is_created_or_updated</targetReference>
            </connector>
            <label>OrderLine not from integration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_queried_OrderLineShare_list_is_empty</name>
        <label>Check if queried OrderLineShare list is empty</label>
        <locationX>1535</locationX>
        <locationY>314</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OrderLineShare_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_OrderLineShare_records</targetReference>
            </connector>
            <label>List not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Previous_Account</name>
        <label>Check Previous Account</label>
        <locationX>1214</locationX>
        <locationY>201</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Account_was_blank_Or_Previous_Account_s_Global_Parent_was_null</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Customer_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Customer_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Customer_Name__r.Global_Ultimate_Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Account_and_it_s_Global_Ultimate_parent_are_not_null</targetReference>
            </connector>
            <label>Previous Account was blank Or Previous Account&apos;s Global Parent was null</label>
        </rules>
        <rules>
            <name>Previous_Account_s_Global_Parent_was_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Customer_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Customer_Name__r.Global_Ultimate_Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OrderLineShare_Record</targetReference>
            </connector>
            <label>Previous Account&apos;s Global Parent was not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_whether_record_is_created_or_updated</name>
        <label>Check whether record is created or updated</label>
        <locationX>515</locationX>
        <locationY>410</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_is_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isRecordCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Account_and_it_s_Global_Ultimate_parent_are_not_null</targetReference>
            </connector>
            <label>Record is created</label>
        </rules>
        <rules>
            <name>Record_is_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isRecordCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Account_Or_Owner_is_changed</targetReference>
            </connector>
            <label>Record is updated</label>
        </rules>
    </decisions>
    <formulas>
        <name>isRecordCreated</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>OrderLine Record Triggered Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OrderLine Record Triggered Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_OrderLineShare_record</name>
        <label>Create OrderLineShare record</label>
        <locationX>1004</locationX>
        <locationY>705</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>orderLineRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>orderLineRecord.Customer_Name__r.Global_Ultimate_Parent__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Line__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Remove_OrderLineShare_records</name>
        <label>Remove OrderLineShare records</label>
        <locationX>1655</locationX>
        <locationY>462</locationY>
        <connector>
            <targetReference>Check_if_Account_and_it_s_Global_Ultimate_parent_are_not_null</targetReference>
        </connector>
        <inputReference>Get_OrderLineShare_Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_OrderLineShare_Record</name>
        <label>Get OrderLineShare Record</label>
        <locationX>1364</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_queried_OrderLineShare_list_is_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Customer_Name__r.Global_Ultimate_Parent__r.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order_Line__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>338</locationY>
        <connector>
            <targetReference>Check_if_orderline_comes_from_integration</targetReference>
        </connector>
        <object>Order_Line__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>orderLineRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Line__c</objectType>
    </variables>
</Flow>
