src/flows/Product_VS_Engineer_Assignments_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_the_owner_of_Serial_Number</name>
        <label>Set the owner of Serial Number</label>
        <locationX>677</locationX>
        <locationY>1283</locationY>
        <assignmentItems>
            <assignToReference>serialNumber.Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Serial_Number</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>IPH</name>
        <dataType>String</dataType>
        <value>
            <stringValue>IPH</stringValue>
        </value>
    </constants>
    <constants>
        <name>SNY</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SNY</stringValue>
        </value>
    </constants>
    <constants>
        <name>WXI</name>
        <dataType>String</dataType>
        <value>
            <stringValue>WXI</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_IPH_Marketing_Family</name>
        <label>Check for IPH Marketing Family</label>
        <locationX>669</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>IPH_Metadata_Looping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_IPH_Marketing_Family_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serialNumber.Marketing_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>metaData.Marketing_Family__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_The_User</targetReference>
            </connector>
            <label>If IPH Marketing Family Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Location</name>
        <label>Check for Location</label>
        <locationX>666</locationX>
        <locationY>129</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Location_is_WXI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serialNumber.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WXI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WXI_Metadata_Value</targetReference>
            </connector>
            <label>Location is WXI</label>
        </rules>
        <rules>
            <name>Location_is_IPH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serialNumber.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IPH</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IPH_Metadata_Value</targetReference>
            </connector>
            <label>Location is IPH</label>
        </rules>
        <rules>
            <name>Location_is_SNY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serialNumber.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SNY</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SNY_Metadata_Value</targetReference>
            </connector>
            <label>Location is SNY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Marketing_Family</name>
        <label>Check for Marketing Family</label>
        <locationX>137</locationX>
        <locationY>660</locationY>
        <defaultConnector>
            <targetReference>WXI_Metadata_Looping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Marketing_Family_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serialNumber.Marketing_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>metaData.Marketing_Family__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Meta_Data_End_Customer_Contains_the_Serial_Number_End_Customer</targetReference>
            </connector>
            <label>If Marketing Family Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_SNY_Marketing_Family</name>
        <label>Check for SNY Marketing Family</label>
        <locationX>946</locationX>
        <locationY>646</locationY>
        <defaultConnector>
            <targetReference>SNY_Metadata_Looping</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IF_Marketing_Family_Exist_SNY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metaData.Marketing_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>serialNumber.Marketing_Family__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Meta_Data_End_Customer_Contains_the_Serial_Number_End_Customer</targetReference>
            </connector>
            <label>IF Marketing Family Exist SNY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_End_Customer_Exists</name>
        <label>Check If End Customer Exists</label>
        <locationX>496</locationX>
        <locationY>527</locationY>
        <defaultConnector>
            <targetReference>Not_Contains_End_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>End_Customer_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serialNumber.End_Customer_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_The_User</targetReference>
            </connector>
            <label>End Customer Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_End_Customer_Exists_SNY</name>
        <label>Check If End Customer Exists SNY</label>
        <locationX>1236</locationX>
        <locationY>960</locationY>
        <defaultConnector>
            <targetReference>Not_Contains_End_Customer_SNY</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IF_End_Customer_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serialNumber.End_Customer_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_The_User</targetReference>
            </connector>
            <label>IF End Customer Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_SNY_Product_Group_Not_Null</name>
        <label>Check If SNY Product Group Not Null</label>
        <locationX>1230</locationX>
        <locationY>380</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SNY_Product_Group_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metaDatas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SNY_Metadata_Looping</targetReference>
            </connector>
            <label>SNY Product Group is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Group_IPH</name>
        <label>Check Product Group IPH</label>
        <locationX>667</locationX>
        <locationY>389</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_Product_Group_Not_Null_For_IPH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metaDatas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IPH_Metadata_Looping</targetReference>
            </connector>
            <label>Check Product Group Not Null For IPH</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Group_WXI</name>
        <label>Check Product Group WXI</label>
        <locationX>140</locationX>
        <locationY>387</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metaDatas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WXI_Metadata_Looping</targetReference>
            </connector>
            <label>If Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Contains_Others_SNY</name>
        <label>If Contains Others SNY</label>
        <locationX>949</locationX>
        <locationY>749</locationY>
        <defaultConnector>
            <targetReference>SNY_Metadata_Looping_Others</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Contains_SNY_End_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metaData.End_Customer__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>serialNumber.End_Customer_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_The_User</targetReference>
            </connector>
            <label>If Contains SNY End Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Meta_Data_End_Customer_Contains_the_Serial_Number_End_Customer</name>
        <label>If Meta Data End Customer Contains the Serial Number End Customer</label>
        <locationX>137</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Check_If_End_Customer_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Contains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metaData.End_Customer__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>serialNumber.End_Customer_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_The_User</targetReference>
            </connector>
            <label>If Contains</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Meta_Data_End_Customer_Contains_the_Serial_Number_End_Customer_Others</name>
        <label>If Meta Data End Customer Contains the Serial Number End Customer Others</label>
        <locationX>313</locationX>
        <locationY>657</locationY>
        <defaultConnector>
            <targetReference>WXI_Metadata_Looping_Others</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Contains_Others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>metaData.End_Customer__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>serialNumber.End_Customer_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_The_User</targetReference>
            </connector>
            <label>If Contains Others</label>
        </rules>
    </decisions>
    <interviewLabel>Product VS Engineer Assignments Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product VS Engineer Assignments Flow</label>
    <loops>
        <name>IPH_Metadata_Looping</name>
        <label>IPH Metadata Looping</label>
        <locationX>667</locationX>
        <locationY>526</locationY>
        <assignNextValueToReference>metaData</assignNextValueToReference>
        <collectionReference>metaDatas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_IPH_Marketing_Family</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Not_Contains_End_Customer</name>
        <label>Not Contains End Customer</label>
        <locationX>496</locationX>
        <locationY>389</locationY>
        <assignNextValueToReference>metaData</assignNextValueToReference>
        <collectionReference>metaDatas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_End_Customer_Exists</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Not_Contains_End_Customer_SNY</name>
        <label>Not Contains End Customer SNY</label>
        <locationX>1229</locationX>
        <locationY>641</locationY>
        <assignNextValueToReference>metaData</assignNextValueToReference>
        <collectionReference>metaDatas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_End_Customer_Exists_SNY</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>SNY_Metadata_Looping</name>
        <label>SNY Metadata Looping</label>
        <locationX>943</locationX>
        <locationY>526</locationY>
        <assignNextValueToReference>metaData</assignNextValueToReference>
        <collectionReference>metaDatas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_SNY_Marketing_Family</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SNY_Metadata_Looping_Others</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SNY_Metadata_Looping_Others</name>
        <label>SNY Metadata Looping Others</label>
        <locationX>1231</locationX>
        <locationY>516</locationY>
        <assignNextValueToReference>metaData</assignNextValueToReference>
        <collectionReference>metaDatas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Contains_Others_SNY</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Not_Contains_End_Customer_SNY</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>WXI_Metadata_Looping</name>
        <label>WXI Metadata Looping</label>
        <locationX>140</locationX>
        <locationY>522</locationY>
        <assignNextValueToReference>metaData</assignNextValueToReference>
        <collectionReference>metaDatas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Marketing_Family</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>WXI_Metadata_Looping_Others</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>WXI_Metadata_Looping_Others</name>
        <label>WXI Metadata Looping Others</label>
        <locationX>314</locationX>
        <locationY>390</locationY>
        <assignNextValueToReference>metaData</assignNextValueToReference>
        <collectionReference>metaDatas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Meta_Data_End_Customer_Contains_the_Serial_Number_End_Customer_Others</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Not_Contains_End_Customer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_IPH_Metadata_Value</name>
        <label>Get IPH Metadata Value</label>
        <locationX>666</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Product_Group_IPH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IPH</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serialNumber.Product_Group__c</elementReference>
            </value>
        </filters>
        <object>Product__mdt</object>
        <outputReference>metaDatas</outputReference>
        <queriedFields>End_Customer__c</queriedFields>
        <queriedFields>Location__c</queriedFields>
        <queriedFields>Marketing_Family__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Owner_Email__c</queriedFields>
        <queriedFields>Product_Group__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SNY_Metadata_Value</name>
        <label>Get SNY Metadata Value</label>
        <locationX>1230</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_SNY_Product_Group_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SNY</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serialNumber.Product_Group__c</elementReference>
            </value>
        </filters>
        <object>Product__mdt</object>
        <outputReference>metaDatas</outputReference>
        <queriedFields>End_Customer__c</queriedFields>
        <queriedFields>Location__c</queriedFields>
        <queriedFields>Marketing_Family__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Owner_Email__c</queriedFields>
        <queriedFields>Product_Group__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Serial_Number_Record</name>
        <label>Get the Serial Number Record</label>
        <locationX>664</locationX>
        <locationY>13</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Serial_Number__c</object>
        <outputReference>serialNumber</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Product_Group__c</queriedFields>
        <queriedFields>Marketing_Family__c</queriedFields>
        <queriedFields>End_Customer_Name__c</queriedFields>
        <queriedFields>Location__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_The_User</name>
        <label>Get The User</label>
        <locationX>674</locationX>
        <locationY>1146</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_the_owner_of_Serial_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>metaData.Owner_Email__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_WXI_Metadata_Value</name>
        <label>Get WXI Metadata Value</label>
        <locationX>144</locationX>
        <locationY>264</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Product_Group_WXI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WXI</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serialNumber.Product_Group__c</elementReference>
            </value>
        </filters>
        <object>Product__mdt</object>
        <outputReference>metaDatas</outputReference>
        <queriedFields>Product_Group__c</queriedFields>
        <queriedFields>Marketing_Family__c</queriedFields>
        <queriedFields>Location__c</queriedFields>
        <queriedFields>End_Customer__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Owner_Email__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Serial_Number</name>
        <label>Update Serial Number</label>
        <locationX>679</locationX>
        <locationY>1407</locationY>
        <inputReference>serialNumber</inputReference>
    </recordUpdates>
    <startElementReference>Get_the_Serial_Number_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>metaData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product__mdt</objectType>
    </variables>
    <variables>
        <name>metaDatas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product__mdt</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>serialNumber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Serial_Number__c</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
