src/flows/Quote_Record_Triggered_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Quote_Record</name>
        <label>Set Quote Record</label>
        <locationX>908</locationX>
        <locationY>1011</locationY>
        <assignmentItems>
            <assignToReference>quoteRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_QuoteShare_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Account_and_it_s_Global_Ultimate_parent_are_not_null</name>
        <label>Check if Account and it&apos;s Global Ultimate parent are not null</label>
        <locationX>835</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_and_it_s_Global_Ultimate_parent_are_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Global_Ultimate_Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Global_Ultimate_Parent__r.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Record</targetReference>
            </connector>
            <label>Account and it&apos;s Global Ultimate parent are not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Account_Or_Owner_is_changed</name>
        <label>Check if Account Or Owner is changed</label>
        <locationX>1154</locationX>
        <locationY>257</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Previous_Account</targetReference>
            </connector>
            <label>Account is changed</label>
        </rules>
        <rules>
            <name>Owner_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Account_and_it_s_Global_Ultimate_parent_are_not_null</targetReference>
            </connector>
            <label>Owner is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_queried_QuoteShare_list_is_empty</name>
        <label>Check if queried QuoteShare list is empty</label>
        <locationX>2044</locationX>
        <locationY>421</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>List_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QuoteShare_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_QuoteShare_records</targetReference>
            </connector>
            <label>List not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Previous_Account</name>
        <label>Check Previous Account</label>
        <locationX>1507</locationX>
        <locationY>301</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Account_s_Global_Parent_was_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account__r.Global_Ultimate_Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_QuoteShare_Record</targetReference>
            </connector>
            <label>Previous Account&apos;s Global Parent was not null</label>
        </rules>
        <rules>
            <name>Previous_Account_was_blank_Or_Previous_Account_s_Global_Parent_was_null</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Account__r.Global_Ultimate_Parent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Account_and_it_s_Global_Ultimate_parent_are_not_null</targetReference>
            </connector>
            <label>Previous Account was blank Or Previous Account&apos;s Global Parent was null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_whether_record_is_created_or_updated</name>
        <label>Check whether record is created or updated</label>
        <locationX>513</locationX>
        <locationY>377</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_is_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isRecordCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Account_and_it_s_Global_Ultimate_parent_are_not_null</targetReference>
            </connector>
            <label>Record is created</label>
        </rules>
        <rules>
            <name>Record_is_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isRecordCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Account_Or_Owner_is_changed</targetReference>
            </connector>
            <label>Record is updated</label>
        </rules>
    </decisions>
    <formulas>
        <name>isRecordCreated</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Record Triggered Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_QuoteShare_record</name>
        <label>Create QuoteShare record</label>
        <locationX>1215</locationX>
        <locationY>1017</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>quoteRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>quoteRecord.Account__r.Global_Ultimate_Parent__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Remove_QuoteShare_records</name>
        <label>Remove QuoteShare records</label>
        <locationX>2091</locationX>
        <locationY>616</locationY>
        <connector>
            <targetReference>Check_if_Account_and_it_s_Global_Ultimate_parent_are_not_null</targetReference>
        </connector>
        <inputReference>Get_QuoteShare_Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_QuoteShare_Record</name>
        <label>Get QuoteShare Record</label>
        <locationX>1765</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_queried_QuoteShare_list_is_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Account__r.Global_Ultimate_Parent__r.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>357</locationY>
        <connector>
            <targetReference>Check_whether_record_is_created_or_updated</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>quoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
