src/flows/quote_Cancellation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Unlock_records_before_Cancellation</name>
        <label>Unlock records before Cancellation</label>
        <locationX>349</locationX>
        <locationY>222</locationY>
        <actionName>SobjectCancellationUnlock</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_all_quoteLineItems</targetReference>
        </connector>
        <inputParameters>
            <name>recordList</name>
            <value>
                <elementReference>var_QuoteId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_quoteLine_Item_sobject_into_Collection</name>
        <label>Add quoteLine Item sobject into Collection</label>
        <locationX>556</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>var_Quote_Items_to_be_updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_Quote_Line_ItemObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_each_Line_Item_record_to_Change_status_as_Cancelled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_status_of_Line_Item_Object_To_Cancelled</name>
        <label>Change status of Line Item Object To Cancelled</label>
        <locationX>550</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>var_Quote_Line_ItemObj.Line_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Canceled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_quoteLine_Item_sobject_into_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>{!var_QuoteId}</interviewLabel>
    <label>quote Cancellation Flow</label>
    <loops>
        <name>loop_through_each_Line_Item_record_to_Change_status_as_Cancelled</name>
        <label>loop through each Line Item record to Change status as Cancelled</label>
        <locationX>347</locationX>
        <locationY>49</locationY>
        <assignNextValueToReference>var_Quote_Line_ItemObj</assignNextValueToReference>
        <collectionReference>var_Quote_Items_List</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_status_of_Line_Item_Object_To_Cancelled</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Unlock_records_before_Cancellation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Line_Item_Recods</name>
        <label>Get All Line Item Recods</label>
        <locationX>163</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_each_Line_Item_record_to_Change_status_as_Cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_QuoteId</elementReference>
            </value>
        </filters>
        <object>Quote_Item__c</object>
        <outputReference>var_Quote_Items_List</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Line_Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_all_quoteLineItems</name>
        <label>Update all quoteLineItems</label>
        <locationX>350</locationX>
        <locationY>376</locationY>
        <inputReference>var_Quote_Items_to_be_updated</inputReference>
    </recordUpdates>
    <startElementReference>Get_All_Line_Item_Recods</startElementReference>
    <status>Active</status>
    <variables>
        <name>var_Quote_Items_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote_Item__c</objectType>
    </variables>
    <variables>
        <name>var_Quote_Items_to_be_updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote_Item__c</objectType>
    </variables>
    <variables>
        <name>var_Quote_Line_ItemObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote_Item__c</objectType>
    </variables>
    <variables>
        <description>RecordId fetched from quote</description>
        <name>var_QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
