src/flows/Quote_Approval_Cancellation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Records_Unlock_Before_Cancellation</name>
        <label>Records Unlock Before Cancellation</label>
        <locationX>523</locationX>
        <locationY>693</locationY>
        <actionName>SobjectCancellationUnlock</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Line_Items</targetReference>
        </connector>
        <inputParameters>
            <name>recordList</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Adding_into_Quote_LineItem_Objects</name>
        <label>Adding into Quote LineItem Objects</label>
        <locationX>731</locationX>
        <locationY>679</locationY>
        <assignmentItems>
            <assignToReference>varQuoteLineItemObjectsToBeUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varlineItemSobj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_each_line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_header_Status_to_Approval_Cancelled</name>
        <label>Change header Status to Approval Cancelled</label>
        <locationX>516</locationX>
        <locationY>237</locationY>
        <assignmentItems>
            <assignToReference>varQuoteObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuoteObj.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varQuoteRecordTypeObj.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_Line_Item_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Quote_Status_To_Cancelled</name>
        <label>Change Quote Status To Cancelled</label>
        <locationX>169</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>varQuoteObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled after Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Status_to_Approval_Cancelled</name>
        <label>Change Status to Approval Cancelled</label>
        <locationX>727</locationX>
        <locationY>535</locationY>
        <assignmentItems>
            <assignToReference>varlineItemSobj.Line_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Canceled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_into_Quote_LineItem_Objects</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Status_Of_Field_is_Ship_and_Debit_Approved_and_Order_Received</name>
        <label>Check If Status Of Field is Ship and Debit Approved and Order Received</label>
        <locationX>168</locationX>
        <locationY>236</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_Status_is_Approval_Cycle_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varQuoteObj.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval Cycle Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Quote_Status_To_Cancelled</targetReference>
            </connector>
            <label>If Status is Approval Cycle Completed</label>
        </rules>
        <rules>
            <name>If_Status_is_Draft_and_Approval_Pending</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varQuoteObj.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varQuoteObj.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varQuoteObj.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Record_Type_for_quote</targetReference>
            </connector>
            <label>If Status is Draft and Approval Pending</label>
        </rules>
    </decisions>
    <interviewLabel>{!$Flow.CurrentRecord}</interviewLabel>
    <label>Quote Approval Cancellation Flow</label>
    <loops>
        <name>Loop_through_each_line_Items</name>
        <label>Loop through each line Items</label>
        <locationX>520</locationX>
        <locationY>531</locationY>
        <assignNextValueToReference>varlineItemSobj</assignNextValueToReference>
        <collectionReference>varQuoteLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Status_to_Approval_Cancelled</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Records_Unlock_Before_Cancellation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Quote_Record</name>
        <label>Get Quote Record</label>
        <locationX>165</locationX>
        <locationY>91</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Status_Of_Field_is_Ship_and_Debit_Approved_and_Order_Received</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>varQuoteObj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Line_Item_records</name>
        <label>Lookup Line Item records</label>
        <locationX>517</locationX>
        <locationY>385</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_each_line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Quote_Item__c</object>
        <outputReference>varQuoteLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Line_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Record_Type_for_quote</name>
        <label>Lookup Record Type for quote</label>
        <locationX>514</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_header_Status_to_Approval_Cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote_Record_Type</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>varQuoteRecordTypeObj</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Header_To_Approval_Cancelled</name>
        <label>Update Header To Approval Cancelled</label>
        <locationX>529</locationX>
        <locationY>949</locationY>
        <connector>
            <targetReference>Header_and_Line_Items_Sucess_message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>varQuoteObj</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Line_Items</name>
        <label>Update Line Items</label>
        <locationX>526</locationX>
        <locationY>808</locationY>
        <connector>
            <targetReference>Update_Header_To_Approval_Cancelled</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_For_Line_Items</targetReference>
        </faultConnector>
        <inputReference>varQuoteLineItemObjectsToBeUpdated</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Record</name>
        <label>Update Quote Record</label>
        <locationX>168</locationX>
        <locationY>536</locationY>
        <connector>
            <targetReference>When_Quote_After_Approval_is_Cancelled</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_for_Cancelled_After_Approval</targetReference>
        </faultConnector>
        <inputReference>varQuoteObj</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>333</locationX>
        <locationY>948</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayingErrorInUpdating</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_for_Cancelled_After_Approval</name>
        <label>Error Message for Cancelled After Approval</label>
        <locationX>28</locationX>
        <locationY>675</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayFaultMessageForHeader</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_For_Line_Items</name>
        <label>Error Message For Line Items</label>
        <locationX>342</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrormessageForLineItems</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Header_and_Line_Items_Sucess_message</name>
        <label>Header and Line Items Sucess message</label>
        <locationX>532</locationX>
        <locationY>1097</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplaySucessMessage</name>
            <fieldText>{!SucessMessageHeaderAndLineItems}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>When_Quote_After_Approval_is_Cancelled</name>
        <label>When Quote After Approval is Cancelled</label>
        <locationX>169</locationX>
        <locationY>672</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>QuoteIsCancelled</name>
            <fieldText>{!QuoteCancellationDisplayMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Quote_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>QuoteCancellationDisplayMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Quote is Cancelled</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SucessMessageHeaderAndLineItems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Approval Is Cancelled For Quote and Line Items</stringValue>
        </value>
    </variables>
    <variables>
        <name>varlineItemSobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote_Item__c</objectType>
    </variables>
    <variables>
        <name>varQuoteLineItemObjectsToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote_Item__c</objectType>
    </variables>
    <variables>
        <name>varQuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote_Item__c</objectType>
    </variables>
    <variables>
        <name>varQuoteObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>varQuoteRecordtype</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>varQuoteRecordTypeObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
