src/flows/QuoteLineItem_PLMApprover_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>697</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>FamilyGroupVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FamilyGroupVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopGroupData</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FlagTrue</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <decisions>
        <name>CheckConfig</name>
        <label>CheckConfig</label>
        <locationX>571</locationX>
        <locationY>524</locationY>
        <defaultConnector>
            <targetReference>Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ChkConfig</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FamilyGroupVariable.Configuration_Segment4__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>QuoteLineConfig</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FamilyGroupVariable.ConfigurationNotOperator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FamilyGroupVariable.Configuration_Segment4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExcMarketApp</targetReference>
            </connector>
            <label>ChkConfig</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckDetector</name>
        <label>CheckDetector</label>
        <locationX>1240</locationX>
        <locationY>313</locationY>
        <defaultConnector>
            <targetReference>Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ChkDetector</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FamilyGroupVariable.Detector_Segment7__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>QuoteItemDetector</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FamilyGroupVariable.DetectorNotOperator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FamilyGroupVariable.Detector_Segment7__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookUpApprover</targetReference>
            </connector>
            <label>ChkDetector</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFormFactor</name>
        <label>CheckFormFactor</label>
        <locationX>224</locationX>
        <locationY>530</locationY>
        <defaultConnector>
            <targetReference>Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ChkFormFactor</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FamilyGroupVariable.Form_Factor_Segment3__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>QuoteLineFormFactor</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FamilyGroupVariable.FormFactorNotOperator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FamilyGroupVariable.Form_Factor_Segment3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExcludeConfig</targetReference>
            </connector>
            <label>ChkFormFactor</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLaser</name>
        <label>CheckLaser</label>
        <locationX>1245</locationX>
        <locationY>523</locationY>
        <defaultConnector>
            <targetReference>Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ChkLaser</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FamilyGroupVariable.Laser_Segment6__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>QuoteItemLaser</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FamilyGroupVariable.Laser_Segment6__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FamilyGroupVariable.LaserNotOperator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExcludeDetector</targetReference>
            </connector>
            <label>ChkLaser</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckMarkApp</name>
        <label>CheckMarkApp</label>
        <locationX>885</locationX>
        <locationY>524</locationY>
        <defaultConnector>
            <targetReference>Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ChkMarketApp</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FamilyGroupVariable.Market_Application_Segment5__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>QuoteItemMarketApp</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FamilyGroupVariable.Market_Application_Segment5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FamilyGroupVariable.MarketAppNotOperator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExcludeLaser</targetReference>
            </connector>
            <label>ChkMarketApp</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSegmentMatch</name>
        <label>CheckSegmentMatch</label>
        <locationX>226</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ChkSegMtch</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FamilyGroupVariable.Family_Segment2__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>QuoteLineItemFamilySegment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FamilyGroupVariable.Family_Segment2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FamilyGroupVariable.FamilySegmentNotOperator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExcludeFormFactor</targetReference>
            </connector>
            <label>ChkSegMtch</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExcludeConfig</name>
        <label>ExcludeConfig</label>
        <locationX>403</locationX>
        <locationY>527</locationY>
        <defaultConnector>
            <targetReference>CheckConfig</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ExcConf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FamilyGroupVariable.Configuration_Segment4__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>QuoteLineConfig</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FamilyGroupVariable.ConfigurationNotOperator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign</targetReference>
            </connector>
            <label>ExcConf</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExcludeDetector</name>
        <label>ExcludeDetector</label>
        <locationX>1243</locationX>
        <locationY>419</locationY>
        <defaultConnector>
            <targetReference>CheckDetector</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ExcDetector</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FamilyGroupVariable.Detector_Segment7__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>QuoteItemDetector</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FamilyGroupVariable.DetectorNotOperator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign</targetReference>
            </connector>
            <label>ExcDetector</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExcludeFormFactor</name>
        <label>ExcludeFormFactor</label>
        <locationX>226</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>CheckFormFactor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ExcFormFac</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FamilyGroupVariable.Form_Factor_Segment3__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>QuoteLineFormFactor</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FamilyGroupVariable.FormFactorNotOperator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign</targetReference>
            </connector>
            <label>ExcFormFac</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExcludeLaser</name>
        <label>ExcludeLaser</label>
        <locationX>1049</locationX>
        <locationY>527</locationY>
        <defaultConnector>
            <targetReference>CheckLaser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ExcLaser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FamilyGroupVariable.Laser_Segment6__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>QuoteItemLaser</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FamilyGroupVariable.LaserNotOperator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign</targetReference>
            </connector>
            <label>ExcLaser</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExcMarketApp</name>
        <label>ExcMarketApp</label>
        <locationX>717</locationX>
        <locationY>525</locationY>
        <defaultConnector>
            <targetReference>CheckMarkApp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ExcMarkApp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FamilyGroupVariable.Market_Application_Segment5__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>QuoteItemMarketApp</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FamilyGroupVariable.MarketAppNotOperator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign</targetReference>
            </connector>
            <label>ExcMarkApp</label>
        </rules>
    </decisions>
    <decisions>
        <name>FamilySegement</name>
        <label>FamilySegement</label>
        <locationX>225</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>CheckSegmentMatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ExcFam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FamilyGroupVariable.Family_Segment2__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>QuoteLineItemFamilySegment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FamilyGroupVariable.FamilySegmentNotOperator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign</targetReference>
            </connector>
            <label>ExcFam</label>
        </rules>
    </decisions>
    <interviewLabel>QuoteLineItem PLMApprover Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QuoteLineItem PLMApprover Update</label>
    <loops>
        <name>LoopGroupData</name>
        <label>LoopGroupData</label>
        <locationX>46</locationX>
        <locationY>196</locationY>
        <assignNextValueToReference>FamilyGroupVariable</assignNextValueToReference>
        <collectionReference>MetadataProdGroupOutput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FamilySegement</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Approver3MLU</name>
        <label>Approver3M</label>
        <locationX>1236</locationX>
        <locationY>109</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateQuoteItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FamilyGroupVariable.Upper_Approval_Level__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Approver3M</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookUpApprover</name>
        <label>LookUpApprover</label>
        <locationX>1236</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approver3MLU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FamilyGroupVariable.Approver__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ApproverUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MetadataMatchingProductGroup</name>
        <label>MetadataMatchingProductGroup</label>
        <locationX>49</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopGroupData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Group_Segment1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteLineProductGroup</elementReference>
            </value>
        </filters>
        <object>PLM_Approval_Matrix__mdt</object>
        <outputReference>MetadataProdGroupOutput</outputReference>
        <queriedFields>Approver__c</queriedFields>
        <queriedFields>Configuration_Segment4__c</queriedFields>
        <queriedFields>Detector_Segment7__c</queriedFields>
        <queriedFields>Family_Segment2__c</queriedFields>
        <queriedFields>Form_Factor_Segment3__c</queriedFields>
        <queriedFields>Laser_Segment6__c</queriedFields>
        <queriedFields>Product_Group_Segment1__c</queriedFields>
        <queriedFields>Market_Application_Segment5__c</queriedFields>
        <queriedFields>FamilySegmentNotOperator__c</queriedFields>
        <queriedFields>ConfigurationNotOperator__c</queriedFields>
        <queriedFields>FormFactorNotOperator__c</queriedFields>
        <queriedFields>DetectorNotOperator__c</queriedFields>
        <queriedFields>LaserNotOperator__c</queriedFields>
        <queriedFields>MarketAppNotOperator__c</queriedFields>
        <queriedFields>Upper_Approval_Level__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateQuoteItem</name>
        <label>UpdateQuoteItem</label>
        <locationX>1232</locationX>
        <locationY>19</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteLineId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approver_3M__c</field>
            <value>
                <elementReference>Approver3M</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PLM_Approver__c</field>
            <value>
                <elementReference>ApproverUserId</elementReference>
            </value>
        </inputAssignments>
        <object>Quote_Item__c</object>
    </recordUpdates>
    <startElementReference>MetadataMatchingProductGroup</startElementReference>
    <status>Active</status>
    <variables>
        <name>Approver3M</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ApproverUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FamilyGroupVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PLM_Approval_Matrix__mdt</objectType>
    </variables>
    <variables>
        <name>FilteredMatchingFamilyMD</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PLM_Approval_Matrix__mdt</objectType>
    </variables>
    <variables>
        <name>FilteredPLMRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PLM_Approval_Matrix__mdt</objectType>
    </variables>
    <variables>
        <name>MetadataOutputApprover</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PLM_Approval_Matrix__mdt</objectType>
    </variables>
    <variables>
        <name>MetadataProdGroupOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PLM_Approval_Matrix__mdt</objectType>
    </variables>
    <variables>
        <name>NullValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteItemDetector</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteItemLaser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteItemMarketApp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteLineConfig</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteLineFormFactor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteLineItemFamilySegment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteLineProductGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
