src/flows/RMA_Serial_Number_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_the_owner_of_Serial_Number</name>
        <label>Set the owner of Serial Number</label>
        <locationX>856</locationX>
        <locationY>72</locationY>
        <assignmentItems>
            <assignToReference>OrderLineSobject.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>When_Owner_is_Found</name>
        <label>When Owner is Found</label>
        <locationX>340</locationX>
        <locationY>413</locationY>
        <assignmentItems>
            <assignToReference>var_Owner_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>metaDataValue.Owner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Getting_All_Metadata</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assign_Owner_variable_once_all_criteria_matches</name>
        <label>Assign Owner variable once all criteria matches</label>
        <locationX>477</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>Getting_All_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_all_Condition_Matches</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>metaDataValue.Marketing_Family__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>OrderLineSobject.Marketing_Family__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>metaDataValue.Marketing_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WhenMarketingpartNumberisAll</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>metaDataValue.End_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WhenMarketingpartNumberisAll</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderLineSobject.End_Customer__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>metaDataValue.End_Customer__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Owner_is_Found</targetReference>
            </connector>
            <label>Check If all Condition Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_End_Customer_and_Marketing_Family_is_populated_then_only_proceed</name>
        <label>Check If End Customer and Marketing Family is populated then only proceed</label>
        <locationX>144</locationX>
        <locationY>235</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_End_Customer_and_Marketing_Family_is_populated_then_only_proceed_Ahead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderLineSobject.End_Customer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderLineSobject.Marketing_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Metadata_Value</targetReference>
            </connector>
            <label>Check If End Customer and Marketing Family is populated then only proceed Ahead</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Owner_is_Not_Null</name>
        <label>If Owner is Not Null</label>
        <locationX>639</locationX>
        <locationY>63</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>When_Owner_variable_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Owner_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_The_User</targetReference>
            </connector>
            <label>When Owner variable is not Null</label>
        </rules>
    </decisions>
    <interviewLabel>RMA Serial Number Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RMA Serial Number Owner</label>
    <loops>
        <name>Getting_All_Metadata</name>
        <label>Checking All MetaDatas for Conditions</label>
        <locationX>462</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>metaDataValue</assignNextValueToReference>
        <collectionReference>metaDatas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Owner_variable_once_all_criteria_matches</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Owner_is_Not_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Metadata_Value</name>
        <label>Get Metadata Value</label>
        <locationX>316</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_All_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderLineSobject.Ship_From_Inventory__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderLineSobject.Product_Group__c</elementReference>
            </value>
        </filters>
        <object>RMA_Serial_Number_Owner__mdt</object>
        <outputReference>metaDatas</outputReference>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>End_Customer__c</queriedFields>
        <queriedFields>Marketing_Family__c</queriedFields>
        <queriedFields>Product_Group__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Serial_Number_Record</name>
        <label>Get the orderLineItem Record</label>
        <locationX>186</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_End_Customer_and_Marketing_Family_is_populated_then_only_proceed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Order_Line__c</object>
        <outputReference>OrderLineSobject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Group__c</queriedFields>
        <queriedFields>Marketing_Family__c</queriedFields>
        <queriedFields>Ship_From_Inventory__c</queriedFields>
        <queriedFields>End_Customer__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_The_User</name>
        <label>Get The User</label>
        <locationX>641</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_the_owner_of_Serial_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Owner_Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Line</name>
        <label>Update Order Line</label>
        <locationX>856</locationX>
        <locationY>284</locationY>
        <inputReference>OrderLineSobject</inputReference>
    </recordUpdates>
    <startElementReference>Get_the_Serial_Number_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>formFactor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>metaDatas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RMA_Serial_Number_Owner__mdt</objectType>
    </variables>
    <variables>
        <name>metaDataValue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RMA_Serial_Number_Owner__mdt</objectType>
    </variables>
    <variables>
        <name>nullFormFactorMetaDatas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RMA_Serial_Number_Owner__mdt</objectType>
    </variables>
    <variables>
        <name>NullMetadata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RMA_Serial_Number_Owner__mdt</objectType>
    </variables>
    <variables>
        <name>OrderLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderLineSobject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order_Line__c</objectType>
    </variables>
    <variables>
        <name>productDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>serialNumber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Serial_Number__c</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Owners Email</description>
        <name>var_Owner_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>WhenMarketingpartNumberisAll</description>
        <name>WhenMarketingpartNumberisAll</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>All</stringValue>
        </value>
    </variables>
</Flow>
