src/flows/Rma_Request_Cancellation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_RMA_Request_Cancellation_Class</name>
        <label>Call RMA Request Cancellation Class</label>
        <locationX>383</locationX>
        <locationY>270</locationY>
        <actionName>RmaRequestCancellation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_record_status_as_Cancelled</targetReference>
        </connector>
        <inputParameters>
            <name>recordList</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_record_status_as_Cancelled</name>
        <label>Set record status as Cancelled</label>
        <locationX>604</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>RmaRequestRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Status_is_till_Approval_Can</name>
        <label>Check If Status is till Approval Can</label>
        <locationX>380</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>RMA_Request_Cancellation_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_status_is_before_Pending_RMA_Admin_Review</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>RmaRequestRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RmaRequestRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RmaRequestRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting CFO Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RmaRequestRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending RMA Admin Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RmaRequestRecord.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_current_user_ID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_system_admin_profile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_system_admin_text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_RMA_Request_Cancellation_Class</targetReference>
            </connector>
            <label>Check if status is before Pending RMA Admin Review</label>
        </rules>
        <rules>
            <name>Check_if_status_is_in_Approved_by_RMA_Admin</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>RmaRequestRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved by RMA Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_label_userrole_name_allowed</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>UserRoleName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_system_admin_profile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_system_admin_text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_RMA_Request_Cancellation_Class</targetReference>
            </connector>
            <label>Check if status is in Approved by RMA Admin</label>
        </rules>
    </decisions>
    <formulas>
        <name>UserRoleName</name>
        <dataType>String</dataType>
        <expression>{!$UserRole.Name}</expression>
    </formulas>
    <formulas>
        <name>var_current_user_ID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>var_label_userrole_name_allowed</name>
        <dataType>String</dataType>
        <expression>{!$Label.Roles_allowed_for_cancellation_after_RMA_Admin_Approval}</expression>
    </formulas>
    <formulas>
        <name>var_system_admin_profile</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <interviewLabel>{!recordId}</interviewLabel>
    <label>Rma Request Cancellation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the current status of RMA Request Record</description>
        <name>Get_RMA_Request_Record</name>
        <label>Get RMA Request Record</label>
        <locationX>218</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Status_is_till_Approval_Can</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>RmaRequestRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CreatedById</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>808</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>Rma_Request_Cancellation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>RMA_Request_Cancellation_Error</targetReference>
        </faultConnector>
        <inputReference>RmaRequestRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Rma_Request_Cancellation</name>
        <label>Rma Request Cancellation</label>
        <locationX>988</locationX>
        <locationY>207</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Sucess_Text</name>
            <fieldText>Rma Request is Cancelled Successfully.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RMA_Request_Cancellation_Default</name>
        <label>RMA Request Cancellation</label>
        <locationX>668</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Default_Message_text</name>
            <fieldText>Rma Request Record can not be cancelled in this stage.Please contact System Administrator to cancel this record</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RMA_Request_Cancellation_Error</name>
        <label>RMA Request Cancellation Error</label>
        <locationX>813</locationX>
        <locationY>401</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Fault_Message</name>
            <fieldText>{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_RMA_Request_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>Default_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Rma Request cannot be cancelled in this stage.Please contact System Administrator to cancel this record</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RMARequestcancellation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>RMA Request is Cancelled</stringValue>
        </value>
    </variables>
    <variables>
        <name>RmaRequestRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>var_system_admin_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>System Administrator</stringValue>
        </value>
    </variables>
</Flow>
