src/flows/Roll_Up_Account_Balance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Calculate_Total_Amount</name>
        <label>Calculate Total Amount</label>
        <locationX>617</locationX>
        <locationY>406</locationY>
        <assignmentItems>
            <assignToReference>Total_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>childAccount.AR_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Related_Record_Iteration</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_AR_Amount_is_null</name>
        <label>check if AR Amount is null</label>
        <locationX>402</locationX>
        <locationY>340</locationY>
        <defaultConnector>
            <targetReference>Related_Record_Iteration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AR Amount is NULL</defaultConnectorLabel>
        <rules>
            <name>if_AR_Amount_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>childAccount.AR_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Total_Amount</targetReference>
            </connector>
            <label>if AR Amount is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Data_Migration_Flag</name>
        <label>Check the Data Migration Flag</label>
        <locationX>180</locationX>
        <locationY>96</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Data_Migration_not_happening</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Migration_Flag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRecordTypeId</targetReference>
            </connector>
            <label>Data Migration not happening</label>
        </rules>
    </decisions>
    <formulas>
        <name>Account_Migration_Flag</name>
        <dataType>String</dataType>
        <expression>{!$Label.Account_Migration_Flag}</expression>
    </formulas>
    <interviewLabel>Roll-Up Account Balance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Roll-Up Account Balance</label>
    <loops>
        <name>Related_Record_Iteration</name>
        <label>Related Record Iteration</label>
        <locationX>638</locationX>
        <locationY>221</locationY>
        <assignNextValueToReference>childAccount</assignNextValueToReference>
        <collectionReference>vRelatedAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_if_AR_Amount_is_null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_All_Related_Accounts_To_Parent_Account</name>
        <label>Find All Related Accounts To Parent Account</label>
        <locationX>664</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Record_Iteration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent_Record_Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Site_Use_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BILL_TO</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>vRelatedAccounts</outputReference>
        <queriedFields>AR_Amount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>518</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_All_Related_Accounts_To_Parent_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Site_Use_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BILL_TO</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Parent_Record_Id</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRecordTypeId</name>
        <label>getRecordTypeId</label>
        <locationX>367</locationX>
        <locationY>90</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Site</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Account</name>
        <label>Update_Parent_Account</label>
        <locationX>895</locationX>
        <locationY>216</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent_Record_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AR_Amount_Rollup__c</field>
            <value>
                <elementReference>Total_Amount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Check_the_Data_Migration_Flag</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>childAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Parent_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Total_Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vRelatedAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
