src/flows/S_D_Line_Item_Date_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>ReLockLockedRecords</name>
        <label>ReLockLockedRecords</label>
        <locationX>704</locationX>
        <locationY>314</locationY>
        <actionName>quoteApprovalLock</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Parent_Quote</targetReference>
        </connector>
        <inputParameters>
            <name>recordIdList</name>
            <value>
                <elementReference>varLockedLineItemsIds</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Unlock_Line_Items_Records_If_Locked</name>
        <label>Unlock Line Items Records If Locked</label>
        <locationX>537</locationX>
        <locationY>314</locationY>
        <actionName>quoteApprovalUnlock</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateS_D</targetReference>
        </connector>
        <inputParameters>
            <name>recordList</name>
            <value>
                <elementReference>ParentRecordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varLockedLineItemsIds</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>DistiQuote</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Dist Quote</stringValue>
        </value>
    </constants>
    <constants>
        <name>IntegrationStatusUpdate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Integration Pending</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Quote_Dist</name>
        <label>Is Quote Dist</label>
        <locationX>323</locationX>
        <locationY>159</locationY>
        <defaultConnector>
            <targetReference>InvalidQuotetype</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_For_Dist_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pricing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DistiQuote</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChooseSD</targetReference>
            </connector>
            <label>Check For Dist Quote</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DistQuote</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Pricing__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>S&amp;D Line Item Date Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>S&amp;D Line Item Date Update</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>FetchQuoteLine</name>
        <label>FetchQuoteLine</label>
        <locationX>14</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QuoteRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Quote_Item__c</object>
        <outputAssignments>
            <assignToReference>ParentRecordId</assignToReference>
            <field>Quote__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SDReason</assignToReference>
            <field>S_D_Line_End_Date_Reason__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExistingSDDate</assignToReference>
            <field>S_D_Line_End_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>QuoteRecord</name>
        <label>QuoteRecord</label>
        <locationX>151</locationX>
        <locationY>153</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Quote_Dist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentRecordId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputAssignments>
            <assignToReference>IntegrationStatus</assignToReference>
            <field>Integration_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Pricing</assignToReference>
            <field>Type_of_Pricing__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Quote</name>
        <label>Update Parent Quote</label>
        <locationX>849</locationX>
        <locationY>162</locationY>
        <connector>
            <targetReference>ShowFinalMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Integration_Status__c</field>
            <value>
                <elementReference>IntegrationStatusUpdate</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateS_D</name>
        <label>UpdateS&amp;D</label>
        <locationX>696</locationX>
        <locationY>161</locationY>
        <connector>
            <targetReference>ReLockLockedRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>S_D_Line_End_Date_Reason__c</field>
            <value>
                <elementReference>S_D_Line_End_Date_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S_D_Line_End_Date__c</field>
            <value>
                <elementReference>S_D_Line_End_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Quote_Item__c</object>
    </recordUpdates>
    <screens>
        <name>ChooseSD</name>
        <label>Select S&amp;D Date and Reason</label>
        <locationX>534</locationX>
        <locationY>159</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Unlock_Line_Items_Records_If_Locked</targetReference>
        </connector>
        <fields>
            <name>S_D_Line_End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>ExistingSDDate</elementReference>
            </defaultValue>
            <fieldText>S&amp;D Line End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>S_D_Line_End_Date_Reason</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SDReason</elementReference>
            </defaultValue>
            <fieldText>S&amp;D Line End Date Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InvalidQuotetype</name>
        <label>InvalidQuotetype</label>
        <locationX>324</locationX>
        <locationY>293</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessageInvalidQuoteType</name>
            <fieldText>You can modified S&amp;D Date only for Dist Quotes!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShowFinalMessage</name>
        <label>Success Message</label>
        <locationX>1015</locationX>
        <locationY>165</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>S&amp;D Line End date and Reason field are updated on Quote Line.
Integration Status is updated on Quote</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>FetchQuoteLine</startElementReference>
    <status>Active</status>
    <variables>
        <name>ExistingSDDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IntegrationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Integration Pending</stringValue>
        </value>
    </variables>
    <variables>
        <name>ParentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Pricing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SDReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLockedLineItemsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
