src/flows/S_D_Extension.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ReLockLockedRecords</name>
        <label>ReLockLockedRecords</label>
        <locationX>1254</locationX>
        <locationY>484</locationY>
        <actionName>quoteApprovalLock</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>recordIdList</name>
            <value>
                <elementReference>varLockedLineItemsIds</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Unlock_Line_Items_Records_If_Locked</name>
        <label>Unlock Line Items Records If Locked</label>
        <locationX>1091</locationX>
        <locationY>320</locationY>
        <actionName>quoteApprovalUnlock</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetLineItems</targetReference>
        </connector>
        <inputParameters>
            <name>recordList</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varLockedLineItemsIds</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>addToList</name>
        <label>addToList</label>
        <locationX>1771</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>UpdatedItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>qItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Date</name>
        <label>Update Date</label>
        <locationX>752</locationX>
        <locationY>157</locationY>
        <assignmentItems>
            <assignToReference>ExistingSDDate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Adddate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S_DateUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateLineEndDate</name>
        <label>updateLineEndDate</label>
        <locationX>1627</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>qItem.S_D_Line_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingSDDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToList</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Adddate</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>180.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>DistQuote</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Dist Quote</stringValue>
        </value>
    </constants>
    <constants>
        <name>IntegrationPendingStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Integration Pending</stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkConditionsonitems</name>
        <label>checkConditionsonitems</label>
        <locationX>1608</locationX>
        <locationY>315</locationY>
        <defaultConnector>
            <targetReference>checkLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>extendline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qItem.Target_Price__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>qItem.Std_Disti_Cost__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qItem.S_D_Line_End_Date_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateLineEndDate</targetReference>
            </connector>
            <label>extendline</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSDNumber</name>
        <label>CheckSDNumber</label>
        <locationX>450</locationX>
        <locationY>153</locationY>
        <defaultConnector>
            <targetReference>SDNumberBlank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SDNumbercheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SDNumber</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GetExpirationdayscount</targetReference>
            </connector>
            <label>SDNumbercheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>GetExpirationdayscount</name>
        <label>GetExpirationdaysCount</label>
        <locationX>581</locationX>
        <locationY>159</locationY>
        <defaultConnector>
            <targetReference>InvalidExpirationTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Expiration_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExpirationdays</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetExpirationdays</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Date</targetReference>
            </connector>
            <label>Expiration Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Quote_Dist</name>
        <label>Is Quote Dist</label>
        <locationX>310</locationX>
        <locationY>153</locationY>
        <defaultConnector>
            <targetReference>InvalidQuotetype</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_For_Dist_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pricing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DistQuote</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckSDNumber</targetReference>
            </connector>
            <label>Check For Dist Quote</label>
        </rules>
    </decisions>
    <formulas>
        <name>GetExpirationdays</name>
        <dataType>Number</dataType>
        <expression>{!ExistingSDDate}- Today()</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>S&amp;D Extension {!$Flow.CurrentDateTime}</interviewLabel>
    <label>S&amp;D Extension</label>
    <loops>
        <name>checkLineItems</name>
        <label>checkLineItems</label>
        <locationX>1416</locationX>
        <locationY>308</locationY>
        <assignNextValueToReference>qItem</assignNextValueToReference>
        <collectionReference>GetLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkConditionsonitems</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateQItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>FetchQuote</name>
        <label>FetchQuote</label>
        <locationX>180</locationX>
        <locationY>154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Quote_Dist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputAssignments>
            <assignToReference>ExpirationDate</assignToReference>
            <field>ExpirationDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Quote</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExistingSDDate</assignToReference>
            <field>S_D_End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SDNumber</assignToReference>
            <field>Ship_Debit__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Pricing</assignToReference>
            <field>Type_of_Pricing__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetLineItems</name>
        <label>GetLineItems</label>
        <locationX>1413</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Line_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Target_Price__c</queriedFields>
        <queriedFields>Std_Disti_Cost__c</queriedFields>
        <queriedFields>S_D_Line_End_Date__c</queriedFields>
        <queriedFields>S_D_Line_End_Date_Reason__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateQItems</name>
        <label>updateQItems</label>
        <locationX>1426</locationX>
        <locationY>461</locationY>
        <connector>
            <targetReference>ReLockLockedRecords</targetReference>
        </connector>
        <inputReference>UpdatedItems</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateS_D</name>
        <label>UpdateS&amp;D</label>
        <locationX>1082</locationX>
        <locationY>159</locationY>
        <connector>
            <targetReference>Unlock_Line_Items_Records_If_Locked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Integration_Status__c</field>
            <value>
                <elementReference>IntegrationPendingStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>S_D_End_Date__c</field>
            <value>
                <elementReference>ExistingSDDate</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>InvalidExpirationTime</name>
        <label>InvalidExpirationTime</label>
        <locationX>576</locationX>
        <locationY>293</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowMessage</name>
            <fieldText>You can not Extend the S&amp;D if it is greater then 30 days from current S&amp;D End Date or If S&amp;D  has exprired</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InvalidQuotetype</name>
        <label>InvalidQuotetype</label>
        <locationX>321</locationX>
        <locationY>282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MessageInvalidQuoteType</name>
            <fieldText>You can extend S&amp;D Date only for Dist Quotes!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S_DateUpdate</name>
        <label>S&amp;DateUpdate</label>
        <locationX>918</locationX>
        <locationY>162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateS_D</targetReference>
        </connector>
        <fields>
            <name>QuoteHeader</name>
            <fieldText>Quote: {!Quote}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SDExtDate</name>
            <fieldText>S&amp;D Date for current Quote will be updated to {!ExistingSDDate}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SDNumberBlank</name>
        <label>SDNumberBlank</label>
        <locationX>453</locationX>
        <locationY>284</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplaySDNumber</name>
            <fieldText>You Can&apos;t Extend the S&amp;D because there is no SD Number</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>FetchQuote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ExistingSDDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExpirationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Pricing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Item__c</objectType>
    </variables>
    <variables>
        <name>Quote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SDNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdatedItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Item__c</objectType>
    </variables>
    <variables>
        <name>varLockedLineItemsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
