src/flows/Update_Quote_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Status</name>
        <choiceText>Status</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>toStatus</elementReference>
        </value>
    </choices>
    <decisions>
        <name>check_the_choices</name>
        <label>check the choices</label>
        <locationX>776</locationX>
        <locationY>49</locationY>
        <defaultConnector>
            <targetReference>Selected_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>choice  is not selected</defaultConnectorLabel>
        <rules>
            <name>choiceisselected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteStatus_Change</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Record</targetReference>
            </connector>
            <label>if choices is selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>NoCustommetadata</name>
        <label>NoCustommetadata</label>
        <locationX>267</locationX>
        <locationY>139</locationY>
        <defaultConnector>
            <targetReference>change_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NoCustommetadatas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StatusCustomemetadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Infomessage</targetReference>
            </connector>
            <label>NoCustommetadatas</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>getCustomMetaDataType</name>
        <dataType>String</dataType>
        <displayField>To__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>From__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteCurrentStatus</elementReference>
            </value>
        </filters>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <object>State_Model_Definition_Data__mdt</object>
        <valueField>To__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Update Quote Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Quote Status</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Quote_Record</name>
        <label>Get Quote Record</label>
        <locationX>103</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Metadatalookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputAssignments>
            <assignToReference>quoteCurrentStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Metadatalookup</name>
        <label>Metadatalookup</label>
        <locationX>75</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NoCustommetadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>From__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteCurrentStatus</elementReference>
            </value>
        </filters>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <object>State_Model_Definition_Data__mdt</object>
        <outputAssignments>
            <assignToReference>StatusCustomemetadata</assignToReference>
            <field>To__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_Record</name>
        <label>update Record</label>
        <locationX>1076</locationX>
        <locationY>53</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>QuoteStatus_Change</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>change_status</name>
        <label>change status</label>
        <locationX>560</locationX>
        <locationY>48</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_the_choices</targetReference>
        </connector>
        <fields>
            <name>QuoteStatus_Change</name>
            <choiceReferences>getCustomMetaDataType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>QuoteStatus</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Infomessage</name>
        <label>Infomessage</label>
        <locationX>267</locationX>
        <locationY>251</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Informationmessage</name>
            <fieldText>Status cannot be changed</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selected_Choice</name>
        <label>Selected Choice</label>
        <locationX>881</locationX>
        <locationY>256</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ChoiceLabel</name>
            <fieldText>You are not selected choice</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Quote_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>quoteCurrentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StatusCustomemetadata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>toStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
