src/flows/Update_Loaner_Requestor_Line_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>increment_number_of_number_of_extension</name>
        <label>increment number of number of extension</label>
        <locationX>465</locationX>
        <locationY>81</locationY>
        <assignmentItems>
            <assignToReference>NoofExtensionsApproved</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalExtendedDays_Parent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>totalextendeddays_extensionitem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManualReturnDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExtendDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Loaner_Requestor_Item</targetReference>
        </connector>
    </assignments>
    <description>Update Total Extended Days and Number of Extensions in Loaner Requestor Line Items</description>
    <interviewLabel>Update Loaner Requestor Line Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Loaner Requestor Line Items</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Loaner_Line_Item</name>
        <label>get Loaner Line Item</label>
        <locationX>239</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>increment_number_of_number_of_extension</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanerRequestorLineItem</elementReference>
            </value>
        </filters>
        <object>Loaner_Line__c</object>
        <outputAssignments>
            <assignToReference>ManualReturnDueDate</assignToReference>
            <field>Manual_Return_Due_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NoofExtensionsApproved</assignToReference>
            <field>Number_of_Extensions__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TotalExtendedDays_Parent</assignToReference>
            <field>Total_Extended_Days__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_Loaner_Requestor_Item</name>
        <label>update Loaner Requestor Item</label>
        <locationX>632</locationX>
        <locationY>75</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanerRequestorLineItem</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Manual_Return_Due_Date__c</field>
            <value>
                <elementReference>ExtendDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Extensions__c</field>
            <value>
                <elementReference>NoofExtensionsApproved</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Extended_Days__c</field>
            <value>
                <elementReference>TotalExtendedDays_Parent</elementReference>
            </value>
        </inputAssignments>
        <object>Loaner_Line__c</object>
    </recordUpdates>
    <startElementReference>get_Loaner_Line_Item</startElementReference>
    <status>Active</status>
    <variables>
        <description>Loaner Extended by User Extended Days</description>
        <name>ExtendDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>extensionline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanerRequestorLineItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Update Manual Return Due Date with extend to Date</description>
        <name>ManualReturnDueDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Number of Extensions Approved</description>
        <name>NoofExtensionsApproved</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>total extended days of extension item approved</description>
        <name>totalextendeddays_extensionitem</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalExtendedDays_Parent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
