src/flows/Update_Return_Request_On_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>ReferenceRecordObject</name>
        <label>ReferenceRecordObject</label>
        <locationX>834</locationX>
        <locationY>525</locationY>
        <assignmentItems>
            <assignToReference>var_Final_Sobject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_returnRequestObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product_Return_Request</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkPartNumber</name>
        <label>checkPartNumber</label>
        <locationX>1129</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>When_Product_group_is_same_or_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>if part number does not exist in custom metadata type</defaultConnectorLabel>
        <rules>
            <name>if_PartNumber_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_returnRequestObj.Part_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkPartNumberwithMtd</targetReference>
            </connector>
            <label>if PartNumber is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkPartNumberwithMtd</name>
        <label>checkPartNumberwithMtd</label>
        <locationX>1628</locationX>
        <locationY>93</locationY>
        <defaultConnector>
            <targetReference>itrate_Over_Custom_metaData_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>haspart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_product_partnumber</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <elementReference>var_returnRequestObj.Part_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>When_Product_group_is_same_or_empty</targetReference>
            </connector>
            <label>haspart</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Configuration_Check</name>
        <label>Product Configuration Check</label>
        <locationX>1160</locationX>
        <locationY>637</locationY>
        <defaultConnector>
            <targetReference>itrate_Over_Custom_metaData_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>product config doestnot matches</defaultConnectorLabel>
        <rules>
            <name>productConfigCheck</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_returnRequestObj.Configuration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_Product_Config</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_returnRequestObj.Configuration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReferenceRecordObject</targetReference>
            </connector>
            <label>productConfigCheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Form_Factor_Check</name>
        <label>Product Form Factor Check</label>
        <locationX>1170</locationX>
        <locationY>501</locationY>
        <defaultConnector>
            <targetReference>itrate_Over_Custom_metaData_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>form factor doesnot matches</defaultConnectorLabel>
        <rules>
            <name>productFormFactorCheck</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_returnRequestObj.Form_Factor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_Product_Form_Factor</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_returnRequestObj.Form_Factor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Configuration_Check</targetReference>
            </connector>
            <label>productFormFactorCheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProductFamilyCheck</name>
        <label>ProductFamilyCheck</label>
        <locationX>1404</locationX>
        <locationY>430</locationY>
        <defaultConnector>
            <targetReference>itrate_Over_Custom_metaData_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>product family doesnot matches</defaultConnectorLabel>
        <rules>
            <name>ProductFamily</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_returnRequestObj.Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_Product_Family</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_returnRequestObj.Family__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Form_Factor_Check</targetReference>
            </connector>
            <label>ProductFamily</label>
        </rules>
    </decisions>
    <decisions>
        <name>When_Product_group_is_same_or_empty</name>
        <label>When Product group is same or empty</label>
        <locationX>1452</locationX>
        <locationY>271</locationY>
        <defaultConnector>
            <targetReference>itrate_Over_Custom_metaData_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>productGroup doesnot matches</defaultConnectorLabel>
        <rules>
            <name>productGroupCheck</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_returnRequestObj.Product_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_product_groups</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_returnRequestObj.Product_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductFamilyCheck</targetReference>
            </connector>
            <label>productGroup matches</label>
        </rules>
    </decisions>
    <interviewLabel>{!product2Id}</interviewLabel>
    <label>Update Return Request On Product</label>
    <loops>
        <name>itrate_Over_Custom_metaData_Record</name>
        <label>itrate Over Custom metaData Record</label>
        <locationX>834</locationX>
        <locationY>123</locationY>
        <assignNextValueToReference>var_returnRequestObj</assignNextValueToReference>
        <collectionReference>var_metaData_output</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkPartNumber</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_from_Return_Request_Matrix</name>
        <label>Fetch from Return Request Matrix</label>
        <locationX>568</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>itrate_Over_Custom_metaData_Record</targetReference>
        </connector>
        <object>Return_Request_Matrix__mdt</object>
        <outputReference>var_metaData_output</outputReference>
        <queriedFields>A_C__c</queriedFields>
        <queriedFields>Configuration__c</queriedFields>
        <queriedFields>Family__c</queriedFields>
        <queriedFields>Form_Factor__c</queriedFields>
        <queriedFields>Location__c</queriedFields>
        <queriedFields>Market_Application__c</queriedFields>
        <queriedFields>Product_Group__c</queriedFields>
        <queriedFields>Return_Instructions__c</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Part_Number__c</queriedFields>
        <sortField>Part_Number__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>get_Product_Record</name>
        <label>get Product Record</label>
        <locationX>390</locationX>
        <locationY>111</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_from_Return_Request_Matrix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>product2Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>var_Product_Form_Factor</assignToReference>
            <field>Form_Factor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_product_partnumber</assignToReference>
            <field>Marketing_P_N__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Product_Config</assignToReference>
            <field>Product_Config__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_Product_Family</assignToReference>
            <field>Product_Family_Text__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_product_groups</assignToReference>
            <field>Product_Group__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product_Return_Request</name>
        <label>Update Product</label>
        <locationX>672</locationX>
        <locationY>370</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>product2Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>var_Final_Sobject.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Instruction__c</field>
            <value>
                <elementReference>var_Final_Sobject.Return_Instructions__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>130</locationY>
        <connector>
            <targetReference>get_Product_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>product2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdateProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>var_Final_Sobject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Return_Request_Matrix__mdt</objectType>
    </variables>
    <variables>
        <name>var_metaData_output</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Return_Request_Matrix__mdt</objectType>
    </variables>
    <variables>
        <name>var_Product_Config</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Product_Family</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Product_Form_Factor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Product Group</description>
        <name>var_product_group</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>var_product_groups</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_product_partnumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Product_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>var_returnRequestObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Return_Request_Matrix__mdt</objectType>
    </variables>
</Flow>
