src/flows/Update_Opportunity_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>LostCancelled</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Lost/Cancelled</stringValue>
        </value>
    </constants>
    <constants>
        <name>Other</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </constants>
    <constants>
        <name>Rejected</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_the_choices</name>
        <label>check the choices</label>
        <locationX>475</locationX>
        <locationY>22</locationY>
        <defaultConnector>
            <targetReference>Selected_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>if_choices_is_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DR_Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejection_Reason</targetReference>
            </connector>
            <label>if choices is selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Custom_Meta_Data</name>
        <label>No Custom Meta Data</label>
        <locationX>254</locationX>
        <locationY>154</locationY>
        <defaultConnector>
            <targetReference>change_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NoCustomMetaDatas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>statusCustomMetadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>infoMsg</targetReference>
            </connector>
            <label>NoCustomMetaDatas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Show_Error_Screen</name>
        <label>Show Error Screen</label>
        <locationX>911</locationX>
        <locationY>19</locationY>
        <defaultConnector>
            <targetReference>update_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ShowError</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ShowErrorScreen1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorinfoMsg</targetReference>
            </connector>
            <label>ShowError</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>getCustomMetaDataType</name>
        <dataType>String</dataType>
        <displayField>To__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>From__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityCurrentStatus</elementReference>
            </value>
        </filters>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>State_Model_Definition_Data__mdt</object>
        <valueField>To__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Update Opportunity Status  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Opportunity Status</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>75</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>State_Model_Definition_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>opportunityCurrentStatus</assignToReference>
            <field>DR_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Rejection_Reason</name>
        <label>Rejection Reason</label>
        <locationX>733</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Error_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>ShowErrorScreen1</assignToReference>
            <field>Lost_Cancelled_Rejected_Reason__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>State_Model_Definition_Data</name>
        <label>State Model Definition Data</label>
        <locationX>73</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Custom_Meta_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>From__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityCurrentStatus</elementReference>
            </value>
        </filters>
        <filters>
            <field>From__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Rejected</elementReference>
            </value>
        </filters>
        <filters>
            <field>From__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>LostCancelled</elementReference>
            </value>
        </filters>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <object>State_Model_Definition_Data__mdt</object>
        <outputAssignments>
            <assignToReference>statusCustomMetadata</assignToReference>
            <field>To__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_Record_0</name>
        <label>update Record</label>
        <locationX>908</locationX>
        <locationY>147</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DR_Status__c</field>
            <value>
                <elementReference>DR_Status</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>change_status</name>
        <label>change status</label>
        <locationX>251</locationX>
        <locationY>22</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_the_choices</targetReference>
        </connector>
        <fields>
            <name>DR_Status</name>
            <choiceReferences>getCustomMetaDataType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>DR Status</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorinfoMsg</name>
        <label>ErrorMsg</label>
        <locationX>1091</locationX>
        <locationY>20</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>Lost/Cancelled/Rejected Reason&apos; cannot be blank 
{!ShowErrorScreen1}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>infoMsg</name>
        <label>infoMsg</label>
        <locationX>259</locationX>
        <locationY>261</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>Status cannot be changed</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>Status cannot be changed</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selected_Choice</name>
        <label>Selected Choice</label>
        <locationX>475</locationX>
        <locationY>140</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ChoiceLable</name>
            <fieldText>You are not selected choice</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Opportunity_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>opportunityCurrentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowErrorScreen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowErrorScreen1</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statusCustomMetadata</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StatusLostCancel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </variables>
    <variables>
        <name>StatusLostCancelled</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>LostCancelled</elementReference>
        </value>
    </variables>
    <variables>
        <name>StatusRejected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Rejected</elementReference>
        </value>
    </variables>
    <variables>
        <name>True</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
