src/flows/Validate_Loaner_Header_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Apex_class_and_send_LoanerId_as_Parameter</name>
        <label>Call Apex class and send LoanerId as Parameter</label>
        <locationX>337</locationX>
        <locationY>220</locationY>
        <actionName>LoanerIntegration_Wsdl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Validateion_Loaner_Header</targetReference>
        </connector>
        <inputParameters>
            <name>loanerId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoanerName</name>
            <value>
                <elementReference>LoanerRequestNumber</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>errormessage</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>If_Header_Status_is_Approved_then_display</name>
        <label>If Header Status is Approved then display</label>
        <locationX>167</locationX>
        <locationY>236</locationY>
        <defaultConnector>
            <targetReference>Loaner_Cancellation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Execute_Only_when_Loaner_status_is_not_Approved</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>LoanerStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidationinApprovedStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Apex_class_and_send_LoanerId_as_Parameter</targetReference>
            </connector>
            <label>Execute Only when Loaner status is not Approved</label>
        </rules>
    </decisions>
    <formulas>
        <name>ValidationinApprovedStatus</name>
        <dataType>Boolean</dataType>
        <expression>IF(Contains({!$Label.Validation_in_Approved_Status},&apos;True&apos;),True,False)</expression>
    </formulas>
    <interviewLabel>Validate Loaner Header Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validate Loaner Header Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Loaner_Record</name>
        <label>get Loaner Record</label>
        <locationX>180</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Header_Status_is_Approved_then_display</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Loaner__c</object>
        <outputAssignments>
            <assignToReference>LoanerRequestNumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LoanerStatus</assignToReference>
            <field>Status_Approval__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <description>Loaner Validation Button does not work in Approved status</description>
        <name>Loaner_Cancellation</name>
        <label>Loaner Validation Not Allowed</label>
        <locationX>180</locationX>
        <locationY>400</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LoanerAprovedStatus</name>
            <fieldText>Loaner record can not be validated in Approved Status.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validateion_Loaner_Header</name>
        <label>Validateion Loaner Header</label>
        <locationX>470</locationX>
        <locationY>139</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LoanerHeader</name>
            <fieldText>{!errormessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>get_Loaner_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>errormessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanerRequestNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanerStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
