src/flows/Validate_Serial.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Apex_class_and_send_RMAId_as_Parameter</name>
        <label>Call Apex class and send RMAId as Parameter</label>
        <locationX>309</locationX>
        <locationY>262</locationY>
        <actionName>RMAValidationService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Validate_Lines</targetReference>
        </connector>
        <inputParameters>
            <name>RMAID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>errormessage</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>RMAClosedcannotbevalidated</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;RMA with Status - &apos;Closed&apos; cannot be validated&quot;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_if_Serial_Numbers_exists</name>
        <label>check if Serial Numbers exists</label>
        <locationX>329</locationX>
        <locationY>85</locationY>
        <defaultConnector>
            <targetReference>Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not Validate Serial</defaultConnectorLabel>
        <rules>
            <name>Validate_Serial_Numbers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofRMALines</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RMA_Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Apex_class_and_send_RMAId_as_Parameter</targetReference>
            </connector>
            <label>Validate Serial Numbers</label>
        </rules>
    </decisions>
    <interviewLabel>Validate Serial {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validate Lines</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>getRMARecord</name>
        <label>getRMARecord</label>
        <locationX>98</locationX>
        <locationY>82</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_Serial_Numbers_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CountofRMALines</assignToReference>
            <field>Count_of_RMA_Request_Lines__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RMA_Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_to_Inprogress</name>
        <label>Update Status to Inprogress</label>
        <locationX>712</locationX>
        <locationY>277</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Information</name>
        <label>Information</label>
        <locationX>696</locationX>
        <locationY>74</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoSearialNumber</name>
            <fieldText>{!NoSerialNumberMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validate_Lines</name>
        <label>Validate Lines</label>
        <locationX>524</locationX>
        <locationY>270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Status_to_Inprogress</targetReference>
        </connector>
        <fields>
            <name>Error</name>
            <fieldText>{!errormessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getRMARecord</startElementReference>
    <status>Active</status>
    <variables>
        <description>Count RMA Lines</description>
        <name>CountofRMALines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>errormessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NoSerialNumberMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>RMA with Status is closed / RMA with no Request lines cannot be validated.</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RMA_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
